[2018-05-15 12:07] Sarah-C commented on #353
Please!  I'd like to select my rear camera now1

[2018-05-15 19:51] jywarren commented on #399
Just to clarify, would the workflow be to feed Tensorflow a big set of
labelled spectra, then it generates a model or result dataset which can
then be used to classify new data? I'm just trying to think through this
but where would we want to try to store the resulting model?

Thank you!!!

On Thu, May 10, 2018, 3:04 PM Lucas Zeer <notifications@github.com> wrote:

[2018-05-18 15:29] Lucaszw commented on #399
Yes exactly! The dataset and model(s) could be hosted on any server really.  The model can then be loaded directly via a URL (and cached in the users web browser ).  See: https://js.tensorflow.org/tutorials/import-keras.html

[2018-05-25 06:35] icarito opened #400 "Failed requests for undefined recent calibrations id"
Hi,
The server is getting lots of requests for `/capture/recent_calibrations.json?calibration_id=undefined` path. This is likely a bug in the application and could be having a negative effect on performance.

Here's an excerpt from the logs:
[code]

[2018-06-04 04:46] jywarren commented on #353
If you're in Android you can do this in Firefox mobile. But yes, i agree, this would be really really helpful!!!

[2018-06-04 04:48] jywarren commented on #353
I added `help-wanted` tag to see if we can get someone to try and solve it!

[2018-06-07 07:43] kny5 opened #402 "I have made a Vagranfile to deploy a server painlessly, how I should properly share it?"
This is the link.
https://github.com/kny5/vagrant-spectral-workbench

I know i can improve the image creation process, but I can't correctly run a bash script to build all the requirements and save some mb in the download process, so I made the image downloadable as is, with few advantages, the most important one, there's not compilation time anymore and the server is working with batteries includ

[2018-06-07 17:22] jywarren commented on #402
Wow, this is very interesting! Want to open a pull request on the README to help other people find this who are looking to run a local copy?

[2018-06-07 22:09] jywarren opened #403 "Need to optimize user.calibrations query"
https://github.com/publiclab/spectral-workbench/blob/2c1e238c55fa479c8d7dcec1d52c1e9262bc5ecd/app/models/user.rb#L86-L93

Could we use the select as noted, but then re-run the query to get the full data for all spectra?

[2018-06-07 22:10] jywarren commented on #403
The optimization originally there was turned off because of https://github.com/publiclab/spectral-workbench/issues/265 -- a bit unclear, but all `@calibrations` need a full `spectrum.data` field, so this `.select()` had broken that.

[2018-06-08 16:23] #403 closed

[2018-06-11 15:52] jywarren commented on #399
I was wondering if it'd be possible to build up a model by pointing the
spectrometer at stuff -- like, scan it in by scanning over an example
material to collect data... what do you think?

On Fri, May 18, 2018 at 11:30 AM Lucas Zeer <notifications@github.com>
wrote:

[2018-08-23 16:01] CEBerndsen opened #408 "Issues copying calibration"
I am using the we interface and uploading photos taken through the paper spectrophotometer and I cannot copy calibration over to the image. I can search for my calibration data and press apply but the numbers do not correct appropriate and calibration does not show up in the operations list. Other operation such as cross section adjust do work and do appear however.

[2018-10-11 12:08] hedbergj opened #410 "page load time"
## What happened just before the problem occurred

The page can take a long time to load, and students are complaining about the page and analysis processes generally being very slow, which I can confirm. (min 5 seconds for just the page load, sometimes much longer) Should I investigate hosting a local version somewhere if there are no plans to improve the server performance?

## Relevant URLs

ht

[2018-10-13 17:47] carlcrott opened #414 "New calibrations aren't available in Upload A Spectrum"
## What happened just before the problem occurred
Saved calibrations are available in the /capture/ but not in /upload/

## Relevant URLs
https://spectralworkbench.org/upload?webrtc=false
https://spectralworkbench.org/capture/

## PublicLab.org username
carlcrott

## Browser, version, and operating system
Safari 10.1.2 // OSX 10.10.5

Just posting here bc it seems like its an easy fix being that t

[2018-10-13 17:53] carlcrott commented on #414
Looking through the network tab on Safari:

https://spectralworkbench.org/capture/recent_calibrations.json?calibration_id=144759

Seem to be the URL which is being pulled for my calibration data on /capture/ but not on /upload/

[2018-10-17 06:38] jywarren commented on #414
Thanks for reporting this! I think we should be able to come up with a fix
by looking at the capture controller and comparing the database call in
there to the one for the call you found. Are you familiar with Rails at
all? Thanks again!

On Sun, Oct 14, 2018, 1:54 AM Carl Crott <notifications@github.com> wrote:

[2018-10-18 20:03] carlcrott commented on #414
I know a bit. But if this is something thats not a 5-minute fix for someone who really knows rails well ... Its probably beyond what I can manage.

[2018-11-01 16:35] jywarren commented on #410
Hi! Sorry, i was traveling at the time this was posted, but we are looking into this now. I think when lots of people simultaneously upload, things can get a bit slow. Apologies! We are looking into ways to optimize now.

[2018-11-01 16:36] jywarren commented on #410
Could be worth installing Skylight on as well @icarito 👍

[2018-11-01 16:37] icarito commented on #410
Thanks for your report! I'll be reviewing the performance situation to discern what we can do. We've been wanting to establish a remote process queue to avoid overloading production web server with image processing.

[2018-11-01 16:49] wangongtsen opened #415 "log in issue"
## What happened just before the problem occurred
I entered my PublicLab.org username into the log in form at https://spectralworkbench.org and hit the Log in button. Then I get redirected to a page saying: "We're sorry, but something went wrong. You may have mistyped the address or the page may have moved." With the URL below. The return_to part doesn't seem to make any difference.

## Relevant U

[2018-11-01 16:49] icarito opened #416 "Failure to login"
Hi,
When attempting to log into SW, showing the 500 error instead of logging in.
**It remains possible to log in when starting a private browsing window**.

Here's an example log from plots2 when this fails:
[code]
This was reported by `felix-publiclab` on #publiclab on Nov 1.

[2018-11-01 16:54] wangongtsen commented on #415
icarito suggested starting a private browser window or starting from a clean private browser window. This doesn't fix it for me though.
Perhaps I should mention, that I created that PublicLab.org account today at 13:05 UTC+1 and was never able to log into Spectral Workbench.

[2018-12-18 16:10] jywarren opened #422 "Image rotation doesn't work"
Reported in detail here: https://publiclab.org/notes/aemilius89/12-12-2018/uploaded-pictures-always-stays-vertical

I think we could solve this pretty quickly -- just need to remember to do so!

[2019-02-07 14:04] icarito opened #436 "Service becomes unresponsive"
It was reported that SW failed to respond this morning. There was a **critical** alert for Load average at 4:36AM , but no alert for HTTP. It could be the Rackspace backup system which we know uses a lot of RAM. If it is the case we should prioritize switch backup systems.

[2019-02-07 14:08] icarito commented on #436
Here's the graph and endpoint list for this morning's slowdown:
![image](https://user-images.githubusercontent.com/199755/52416547-d5735d00-2ab7-11e9-9398-8fcaf8f7ebbd.png)

Here's a link to the graph https://oss.skylight.io/app/applications/Wnv2jzIUWl5x/1549529820/18m/endpoints

[2019-02-07 18:54] jywarren commented on #436
In general if we may need to be moving off of Rackspace, we should maybe
prioritize a separate backup system anyways. Thanks, Sebastian!

On Thu, Feb 7, 2019 at 9:04 AM Sebastian Silva <notifications@github.com>
wrote:

[2019-02-08 01:06] icarito commented on #436
Thank you! Just now got another critical alert for high load on spectralworkbench, found the DB a bit busy:
![image](https://user-images.githubusercontent.com/199755/52453063-aab6f200-2b13-11e9-9666-21fc27675e7f.png)

[2019-02-08 01:10] icarito commented on #436
![image](https://user-images.githubusercontent.com/199755/52453213-49435300-2b14-11e9-9f4f-5c7b2e2cf1be.png)
I'll check if skylight agrees! Perhaps there is a query we can optimize.

[2019-02-08 01:15] icarito commented on #436
Could it be setscontroller?
![image](https://user-images.githubusercontent.com/199755/52453381-0fbf1780-2b15-11e9-8106-603c85e7df8b.png)

https://www.skylight.io/app/applications/Wnv2jzIUWl5x/recent/6h/endpoints/SetsController%23show?responseType=json

[2019-02-26 15:01] killolgovani commented on #422
@jywarren Can I work on this issue

[2019-02-27 06:05] icarito opened #439 "Severe slowdown at setsController.show"
Reported to web@ working group email.

![imagen](https://user-images.githubusercontent.com/199755/53469368-9b003e80-3a2b-11e9-9679-cd52f700970e.png)

[2019-02-27 06:06] icarito commented on #439
![imagen](https://user-images.githubusercontent.com/199755/53469439-dc90e980-3a2b-11e9-8e25-9c2a97808559.png)

Going to check the logs to see what could cause such slowness...

[2019-02-27 06:26] icarito commented on #439
Application logs show:
[code]
Maybe this happens when logging in and publiclab.org itself is slow?

Also I see a lot of these:
[code]

[2019-02-27 17:33] bronwen9 opened #440 "Spectral Workbench search isn't working consistently for usernames"
Someone has been trying to search spectral workbench for uploads from a user, but is not able to locate them using a user name.

Their question is here: https://publiclab.org/questions/nnn16/02-27-2019/how-do-i-search-for-the-spectra-recorded-by-a-specific-user

I tried some demo searches-- some usernames were searchable, others were not.

![spectrasearch](https://user-images.githubusercontent.com

[2019-02-28 16:12] ebarry commented on #440
This is a great issue that's related to our Education expansion

[2019-03-10 18:56] SidharthBansal opened #442 "Merging before Travis CI"
I am trying to install Spectral Work Bench. I fixed a typo in the installation manuals. I was able to merge before the travis successfully passed, unlike the plots2 repo.
I think this should be fixed
![image](https://user-images.githubusercontent.com/20972099/54089918-51e9ac00-4394-11e9-9bae-bc20470ba3f7.png)

[2019-03-10 18:57] SidharthBansal commented on #442
See it is under closed issues @jywarren and it is running.

[2019-03-10 19:09] SidharthBansal opened #443 "Sidebar inconsistent with the header"
![image](https://user-images.githubusercontent.com/20972099/54090044-f28c9b80-4395-11e9-9dce-e7f876428a21.png)
I found after login we have username listed on the header but in the sidebar there is option for the sign up.

[2019-03-11 14:58] jywarren commented on #443
Ah, good catch. I think this could be a renaming of the button because it's
prompting people to subscribe to questions from PL.org, not to sign up for
SWB. Good eye!

On Sun, Mar 10, 2019 at 3:10 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-03-11 22:21] #442 closed

[2019-03-11 22:21] jywarren commented on #442
Thanks @SidharthBansal !!!

[2019-03-12 00:49] SidharthBansal commented on #442
Is it fixed? You have closed this issue.

[2019-03-13 00:18] jywarren commented on #442
yep!

On Mon, Mar 11, 2019 at 8:49 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-03-18 16:27] geekychaser commented on #443
Can i give it a try?

[2019-03-18 16:31] SidharthBansal commented on #443
Yep

On Mon, Mar 18, 2019, 9:57 PM Rishabh Bothra <notifications@github.com>
wrote:

[2019-03-18 17:03] sidntrivedi012 commented on #440
@ebarry @bronwen9 Would like to work on it.

[2019-03-18 18:45] gauravano commented on #440
Go ahead @sidntrivedi012!

[2019-03-18 23:03] jywarren opened #444 "Login issues (slow response)"
Could be related to #439 or #436 if the times line up?

Otherwise we should potentially test this out as part of our OpenID overhaul and auto-approval in https://github.com/publiclab/mapknitter/issues/378

[2019-03-18 23:05] jywarren commented on #444
If you want, you can also track site responsiveness at this link: https://oss.skylight.io/app/applications/Wnv2jzIUWl5x/recent/6h/endpoints

[2019-03-28 18:03] jywarren commented on #353
See https://github.com/publiclab/spectral-workbench.js/issues/87 for more on this!

[2019-04-07 21:34] bronwen9 opened #445 "Cell phone cameras defaulting to wrong camera"
A user reported that spectral workbench (on phone) was defaulting to the front camera, which renders the papercraft spec unusable. I checked on my own phone (1st gen pixel) and found the same issue, with no obvious way to select the rear camera (this seems to be a newish issue, I hadn't experienced this before).

https://publiclab.org/questions/Pepin420/04-06-2019/please-help

[2019-04-08 12:45] gauravano commented on #445
@jywarren this requires your attention. Thanks!

[2019-04-08 23:20] jywarren commented on #445
Hi! Yes, this is a known issue and we are trying to address it through a standard getUserMedia implementation -- tracking here and it's slated for Summer of Code as well! Thank you! https://github.com/publiclab/spectral-workbench.js/issues/87

[2019-04-08 23:20] #445 closed

[2019-04-12 16:59] gauravano commented on #445
Great!

[2019-04-21 23:22] SidharthBansal opened #448 "Frontend for SWB authentication"
As finalised in https://github.com/publiclab/mapknitter/issues/385, @IshaGupta18 is implementing the front end as
![image](https://user-images.githubusercontent.com/20972099/56476727-4244a380-64ba-11e9-8163-a8f1b348b4e1.png)
for MK. We can use the same partial files here at SWB as the code should be exactly the same.
Thanks all

[2019-04-21 23:25] SidharthBansal commented on #448
We will come to this once https://github.com/publiclab/mapknitter/issues/385 is complete @IshaGupta18
I hope this works for you. I think we might be able to create a first timer issue for this one. Do you agree with me?

[2019-04-21 23:34] SidharthBansal commented on #448
I figured out there are some changes in the bootstrap layouts in SWB and MK so this issue is not ideal for fto eventhough code is similar. So, it has to be done by someone.

[2019-04-29 15:39] HarshKhandeparkar opened #451 "Weekly Community Check-in #20 - What You Have Learnt"
Hello Everyone!!!

We all at Public Lab :balloon:  - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. The goal of our Community Check-In is for every community member to share something about their work from the past week and abo

[2019-04-29 15:40] HarshKhandeparkar commented on #451
@marieram @swiatek7 @gauravano @publiclab/reviewers @publiclab/is-reviewers @publiclab/community-reps

@subhahu123 @An0u @Jaya738 @mgroovyank @shreyateeza @TANGL3SIT3S @nazeem1988 @karunagoyalk @Nirvikalpa108 @cassianoblonski @EngrEric @Anjalizi @GettyOrawo @coderbeetle @corbettbw @govindjeevan @gautamig54 @daddyjab @emestabillo @letnewKid @srujana121 @jazdao @ChinwenduSilvia @aggarwal19 @Jennilin

[2019-04-29 15:40] HarshKhandeparkar commented on #451
@Priyak5 @vaarigupta @techchic @ananya @hc-barker @edwd42 @PritiShaw @themonster2015 @supriya-kotturu @AnthoniaOkafor @jtmims @scheleon @mahmodHammad @santushk @jillpena @stoic-plus
@vaarigupta @alonpeer @madeofhuman @ibnjunaid @HarshKhandeparkar @aashna27 @Harshithpabbati @niravasher @mmmelissa

[2019-04-29 17:04] SidharthBansal commented on #451
I have learnt quite a lot from Public Lab
1. RoR
2. Testing
3. Workflow of SDLC
4. Mentorship
5. Collaboration, Team Bonding
6. Etiquettes, ethics while talking to seniors and juniors. Tone of speech.
It has increased my confidence and also helped me to improve my English
skills. I am not native English speaker.
7. Work on 3 repositories simultaneously I learnt this in last two months.
It is simpl

[2019-04-30 18:17] IshaGupta18 commented on #448
Yes @SidharthBansal once the entire login system is complete in MK (with all PRs merged), I would split it up in small FTOs!

[2019-04-30 18:21] SidharthBansal commented on #448
Isha, MK PR is completely separate from the SWB PR.
Thanks
Sidharth

On Tue, Apr 30, 2019, 11:47 PM Isha Gupta <notifications@github.com> wrote:

[2019-04-30 19:09] gauravano commented on #451
Hi everyone!

Great check-in @HarshKhandeparkar :+1:

Contributing to Public Lab has surely made me a better developer, I learned testing, Git, understanding of diff. frameworks, being a good team player, collaboration skills, mentorship and many more. Although there is still a long way to go, there's always something to learn from every issue/PR/discussion/project.

I think I am also a bit more o

[2019-05-01 07:29] SidharthBansal opened #453 "Removal of email/username field from the login menu"
@jywarren 's suggestion

This isn't super critical but could save one step. But maybe I haven't thought of some shortcoming of this plan...?

[2019-05-02 14:47] skilfullycurled commented on #451
Again, another great topic!  It strikes me as funny that I never thought I would learn how to contribute make a contribution, make a pull request, go through testing, revisions, etc.   I had just never considered it in the first place.  Plots2 is a place where I've mainly contributed through ideas but it's just never been on my list of things to do.

[2019-05-02 15:32] skilfullycurled commented on #451
Again, another great topic!  It strikes me as funny that I never thought I would learn how to make a contribution,  (pull request, testing, revisions, etc).   I had just never considered it in the first place.  Plots2 is a place where I've mainly contributed through ideas but it's just never been on my list of things to do.

I also learned that the developer community is like any other community a

[2019-05-02 21:02] steviepubliclab commented on #451
Hi all!!!
Heads up for those who haven't heard yet, we're doing an OpenHour this coming Monday about Launching Summer of Code. It will be at 14:30UDT, right after GSoC slot announcements are made. Hope you can hop on for a meet and greet. Also, big thanks to all who have applied for slots, volunteered to mentor, or are in other ways supporting the open coding community of Public Lab. Let's chat!

[2019-05-03 19:02] cesswairimu commented on #451
Awesome theme @HarshKhandeparkar.

Wow, where do I start? I have learnt so much here.
- Breaking up issues to mini-issues with the checklists
- Effective and friendly reviewing
- How to ask for help when stuck
- Collaboration
- How to think about how a non-technical person will use the project and try and make his experience better.
- How to make a DIY spectrometer :smile:
Just to mention a few. N

[2019-05-04 07:42] sashadev-sky commented on #451
Hi! I am going to go for one learning point instead of attempting to enumerate all the things i've learned from PL:

I wanted to remove the ability to "click spam" the like button on notes in plots2 and @jywarren taught me about debouncing in JS by pointing me to this PR for a usage reference:
https://github.com/publiclab/plots2/pull/4904/ (thank you!)

I chose this one because it has proved to be

[2019-05-04 07:43] sashadev-sky commented on #451
Is anyone interested in opening the next check-in tomorrow?

[2019-05-04 07:46] Divy123 commented on #451
Yes please, I want to!!

[2019-05-04 07:46] aashna27 commented on #451
Yeahh, I would like to volunteer to do it tomorrow.

On Sat, May 4, 2019, 1:13 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-05-04 07:58] sashadev-sky commented on #451
@Divy123 @aashna27 you guys commented at the same time, but @Divy123's comment is coming up 1st for me!

Is it ok with the both of you if @Divy123 does this week and @aashna27 will have the week after?

Also, feel free to open it in any repo you want

[2019-05-04 08:01] Divy123 commented on #451
Thanks @sashadev-sky. I will be opening it tomorrow if it's okay to @aashna27?

[2019-05-04 08:09] sagarpreet-chadha commented on #451
Hey everyone ,
The openhour on monday is at 12:00 midnight Indian Time , right ? Can anyone confirm this ? Thank you :smile: !

[2019-05-04 08:23] IshaGupta18 commented on #448
@SidharthBansal #455 is my PR for this, kindly take a look at it. Thanks a lot!

[2019-05-04 09:08] rexagod commented on #451
@sashadev-sky @Divy123 @aashna27 If it's not a problem, I actually communicated my interest in opening  the [next check-in](https://github.com/publiclab/leaflet-blurred-location/issues/198#issuecomment-487421445) a while back to @gauravano, so can I proceed with this?

[2019-05-04 09:15] Divy123 commented on #451
Sure please go ahead!!

[2019-05-04 09:37] gauravano commented on #451
Yes @sagarpreet-chadha, it's at 12:00 am IST

[2019-05-04 10:21] sashadev-sky commented on #451
@rexagod sorry I didn't realize! No problem it's all you. @Divy123 @aashna27 you guys get next two weeks :)

[2019-05-04 20:21] aashna27 commented on #451
Okayy! Cool 😀

On Sat, May 4, 2019, 3:51 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-05-05 02:23] AnthoniaOkafor commented on #451
Sorry for the late response.
Publiclab is the first FOSS I'm contributing to and I have learnt a lot. I've learnt how to use Git, collaboration, time management and most important, I've learnt how to ask for help when stuck.

[2019-05-05 11:17] gauravano commented on #451
New check-in open at https://github.com/publiclab/inline-markdown-editor/issues/72. Thanks everyone!

[2019-05-05 11:17] #451 closed

[2019-05-07 23:48] jywarren commented on #444
Looking into this, we have a LOT of slowness on the snapshots table:

https://oss.skylight.io/app/applications/Wnv2jzIUWl5x/1557229920/11h53m/endpoints/SetsController%23show?responseType=json

![image](https://user-images.githubusercontent.com/24359/57339732-d3458c80-7100-11e9-8b7b-f0ccd118b972.png)

https://oss.skylight.io/app/applications/Wnv2jzIUWl5x/1557251100/6h/endpoints/TagsController%23ind

[2019-05-09 17:10] #448 closed

[2019-05-12 19:29] SidharthBansal commented on #453
Resolved

[2019-05-12 19:29] #453 closed

[2019-05-13 14:00] jywarren opened #458 "Optimize sets controller"
https://github.com/publiclab/spectral-workbench/blob/03b7b320fdef8d64afde253c76dd1a8e5736cbb2/app/controllers/sets_controller.rb#L15-L46

[2019-05-13 14:03] jywarren commented on #458
https://oss.skylight.io/app/applications/Wnv2jzIUWl5x/1557669720/1d/endpoints/SetsController%23show?responseType=json

https://oss.skylight.io/app/applications/Wnv2jzIUWl5x/1557669720/1d/endpoints/SetsController%23calibrated?responseType=json

[2019-05-13 14:07] jywarren commented on #458
Both reference these methods:

https://github.com/publiclab/spectral-workbench/blob/aa0975fa8c805bc0fde200bd8df11c5325cc8aad/app/models/spectra_set.rb#L35-L58

[2019-05-13 14:38] jywarren commented on #458
We're hitting `spectrum.snapshots` a lot:

https://github.com/publiclab/spectral-workbench/blob/aa0975fa8c805bc0fde200bd8df11c5325cc8aad/app/models/spectra_set.rb#L44-L53

OK, we don't index snapshots on `spectrum_id`, that should really change this:

https://github.com/publiclab/spectral-workbench/blob/aa0975fa8c805bc0fde200bd8df11c5325cc8aad/db/schema.rb#L677

[2019-05-13 14:45] #458 closed

[2019-05-15 02:53] jywarren commented on #444
This looks very positive:

![image](https://user-images.githubusercontent.com/24359/57745360-de696100-769a-11e9-919f-8829a213784d.png)

https://oss.skylight.io/app/applications/Wnv2jzIUWl5x/1557837420/14h14m/endpoints

Before:

Problem Response 1.4 min
Typical Response 8.6 s
Requests 33 per min

After:

Problem Response 1.1 s
Typical Response 8 ms
Requests 39 per min

[2019-05-15 02:55] jywarren commented on #436
I believe we've addressed this in #457!

[2019-05-15 02:55] #436 closed

[2019-05-15 02:55] jywarren commented on #439
I believe we've addressed this in #457!

[2019-05-15 02:55] #439 closed

[2019-05-15 02:55] #444 closed

[2019-06-05 02:13] cryptoclidus opened #460 "Update ReadMe to include Windows installation instructions"
## What happened just before the problem occurred
I was installing prerequisites to run spectral-workbench.

In the README file, the recommended ruby version manager (rvm) does not work on Windows without an elaborate workaround using a Linux cmd line interface, such as Bash for Ubuntu on Windows).
I am going to try to use an alternative (uru) to see if that makes it easier.

## Relevant URLs
http

[2019-06-06 00:41] jywarren commented on #460
Hi!! For a good generic rails setup guide please check out the links in
this issue! Sorry this repo is not as well documented as our others!!

https://github.com/publiclab/plots2/issues/3840

On Tue, Jun 4, 2019, 10:14 PM Jasmine Mah <notifications@github.com> wrote:

[2019-06-09 05:36] cryptoclidus commented on #460
Thanks for the link! That's a lot better for now. I got a lot more headway but still ran into trouble because neither rvm or rbenv would install 2.1.2, so I might have to try an earlier version that works with the repository. For now though, I've got electron running and developing on an app for me is a whole lot easier and seems more contained than working on the sw website directly.  Here's the

[2019-10-26 09:13] wpicard2 opened #464 "spectrometer"
## What happened just before the problem occurred

## Relevant URLs

https://

## PublicLab.org username

(to help reproduce the issue)

## Browser, version, and operating system

For bug reports, fill out the above template; for feature requests, you can delete the template.

[2019-12-21 02:24] alaxalves opened #469 "Upgrade to latest Rails"
I think that we should consider upgrading this to latest Rails. Along with that we could get some one DevOps improvements done - the same as we did on MK and Plots2. What do you think @icarito @sashadev-sky @jywarren ?? Maybe this could be a GSoC 2020 project.

[2019-12-21 02:27] jywarren commented on #469
Hi Alax! Great idea, and good to hear from you!!!!

On Fri, Dec 20, 2019 at 9:24 PM Álax de Carvalho Alves <
notifications@github.com> wrote:

[2019-12-30 04:29] jackfernee opened #471 "spectral workbench"
## What happened just before the problem occurred

## Relevant URLs

https://

## PublicLab.org username

(to help reproduce the issue)

## Browser, version, and operating system

For bug reports, fill out the above template; for feature requests, you can delete the template.

[2020-01-07 19:41] Uzay-G opened #472 "Remove white-space for footer"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-07 20:20] Uzay-G opened #473 "Make login modal more modern"
Currently, the login modal and it's icons are not very modern:
![spectral-old-login](https://user-images.githubusercontent.com/52892257/71926349-686aba80-3193-11ea-8d62-37954044945f.png)

I think we could improve this to make it more like Mapknitter's:
![mapknitter-login](https://user-images.githubusercontent.com/52892257/71926389-7f111180-3193-11ea-8a2f-1f47fc6b00b3.png)

I will work on this. Wha

[2020-01-07 20:59] jywarren commented on #473
That'd be great! One issue though is that SWB is on Bootstrap 3, isn't it?
Not 4?

On Tue, Jan 7, 2020 at 3:20 PM Uzay-G <notifications@github.com> wrote:

[2020-01-07 21:05] Uzay-G commented on #473
That should be fine, I can use custom styling if necessary.

[2020-01-08 18:24] #473 closed

[2020-01-10 21:34] Uzay-G opened #476 "Enhance search by checking for similarity with author name"
Currently, searching for spectra only checks whether the query matches the title of the spectra. I think it would also be nice to include a check for similarities between the query and the author name.
What do you think @publiclab/community-reps?
I will open a pull request for this :+1:.

[2020-01-10 21:42] Uzay-G opened #478 "Redesign search bar ui"
The website search bar is quite small and I think it would be nice to redesign it a bit. Especially since when a user clicks the search icon, the search bar quickly appears below the menu and is very inconspicuous. I think we should make it stand out a little more and will work on implementing this.

Here is how it looks like at this point in time:
![spectral-old-search](https://user-images.github

[2020-01-12 11:04] developer22-university commented on #472
ok, @Uzay-G

[2020-01-12 11:09] developer22-university commented on #472
i am doing this @Uzay-G  thanks

[2020-01-12 11:32] developer22-university commented on #472
@Uzay-G  I want to work on other issues as well please guide

[2020-01-12 11:35] Uzay-G commented on #472
No problem @developer22-university! There are no longer many unassigned fto issues for now but maybe I can find another issue you could work on? Do you know a bit of Rails?

[2020-01-12 11:45] developer22-university commented on #472
yes, please review my PR. @Uzay-G

[2020-01-12 13:21] #476 closed

[2020-01-12 13:22] SidharthBansal commented on #476
Kindly get points for this asap

[2020-01-18 10:20] Uzay-G commented on #472
This was solved at https://github.com/publiclab/spectral-workbench/pull/479.

[2020-01-18 10:20] #472 closed

[2020-01-30 20:48] alaxalves commented on #471
@jackfernee Fell free to reopen this if there's any misundestanding

[2020-01-30 20:48] #471 closed

[2020-02-05 18:16] blurry-x-face commented on #478
Hi @Uzay-G I would like to work on it!

[2020-02-12 18:51] gr455 commented on #422
@jywarren Can I work on this?

[2020-02-15 12:22] gr455 commented on #443
Hey, Can I work on this issue?

[2020-02-16 17:39] gr455 commented on #343
Can I work on this issue?

[2020-02-18 21:32] cesswairimu opened #482 "Weekly community Check-In #49 - Tech conferences recommendations"
We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about their current week's

[2020-02-18 21:32] cesswairimu commented on #482
@Rishabh570 @sashadev-skyl @vaibhavmatta @shubhscoder @aSquare14 @sidntrivedi012 @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary @publiclab/mentors @publiclab/image-seq

[2020-02-18 21:32] cesswairimu commented on #482
@rehasantiago, @urvashigupta7, @HashTalmiz, @vinitshahdeo, @nstjean, @dragonwarp, @z-arnott, @VladimirMikulic, @NitinBhasneria, @Tlazypanda, @JanviMahajan14, @sssash18, @mantinone, @DouglasLutz, @seabl, @dependabot-preview[bot], @jywarren, @crisner, @Uzay-G, @shaibrown5, @kostogls, @pcube99, @imajit, @nicoleiocana, @simonastefan, @giovannyg, @priyanka-choubey, @anthony-zhou, @hknowlton, @Bhanu-mbv

[2020-02-19 14:59] gr455 commented on #350
I would like to take up this issue

[2020-02-26 03:24] alaxalves commented on #482
Hey guys, I'm not aware of any conference around where I live :laughing:, but I'll keep an eye out if there's any. For now I'm working on solving some minor bugs in Spectral Workbench, trying to get everything preset for GSoC. I've already gotten @SidharthBansal to mentor me on the upgrade project. I'll come up with a sketch proposal, with the plans I have regarding Spectral project and keep solvi

[2020-02-28 06:25] NitinBhasneria commented on #343
@cesswairimu  can you explain this issue?

[2020-02-28 06:26] NitinBhasneria commented on #478
@cesswairimu what do you think about it?

[2020-02-28 06:27] NitinBhasneria commented on #464
@cesswairimu I think this is a mistake. please close this issue.

[2020-02-28 06:32] gr455 commented on #343
Hey @NitinBhasneria , the issue is that the zoom in button is not visible on the spectral analysis graph. It is supposed to be there on the top right corner. Feel free to take up the issue, I am not working on it anymore

[2020-02-28 18:10] emilyashley commented on #482
Oooh good question! Some of my favorite conferences have been FOSS4G, SOTMUS (openstreetmap), NACIS (Cartography), and JS.geo! Hahah can you tell I love maps and technology? I've always wanted to go to StrangeLoop tho!

I've spoken at FOSS4G, JS.geo, and ClosureSync and had a really good time at all of them :)

[2020-02-28 18:13] emilyashley commented on #482
@nstjean oh cool, Collision used to be held in New Orleans so I've been a few times. It's great for the intersection of tech and business and product. Very start-up oriented 😁

[2020-02-29 20:04] #422 closed

[2020-03-03 06:35] cesswairimu commented on #482
PyconKe and RubyconfKe  are great ones, they happen in Nairobi, Kenya but I heard they might be postponed this year because of the ongoing scares.

[2020-03-03 06:56] cesswairimu commented on #482
Moved to https://github.com/publiclab/leaflet-blurred-location/issues/237 Thanks all

[2020-03-03 06:56] #482 closed

[2020-03-09 15:47] gr455 opened #488 "Test databse inconsistent"
Problem:
1) The test database has `user_id = 0` for the comments model whereas there is no User with `id = 0`. This inconsistency can create problems while writing tests
2) The test database has one `User.first` 's `tag.spectrum_id = 1` , but none of the spectra have `id = 1`

Solution:
change the required fields in the test database seed.

@publiclab/community-reps , I would like to know your vie

[2020-03-10 00:17] alaxalves opened #489 "Use Yarn instead of Bower"
Configure Yarn to be the javascript dependencies manager, since Bower is deprecated and produces a lot of warnings. Yarn is better than NPM, since it is faster and has more features.

[2020-03-22 14:34] gr455 opened #491 "Update readme to include docker installation"
Update README.md to include instructions to install sw locally using docker and docker-compose.

- [ ] Copy database config file

- [ ] Build docker images

- [ ] Run docker-compose

## Relevant URLs

https://github.com/publiclab/spectral-workbench/blob/main/README.md

[2020-03-22 15:45] cesswairimu commented on #488
Hey @gr55, is this from seed file?

[2020-03-22 15:50] gr455 commented on #488
Yeah about that, can you tell me how the test database is seeded?

[2020-03-23 21:33] cesswairimu commented on #464
cool

[2020-03-23 21:33] #464 closed

[2020-04-13 18:33] cesswairimu opened #497 "Weekly community Check-In #54 - How are you doing? Check-in with the us"
We all at Public Lab :balloon: - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about their curren

[2020-04-13 18:33] cesswairimu opened #498 "Weekly community Check-In #55 - How are you doing? Check-in with us"
We all at Public Lab :balloon: - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about their curren

[2020-04-13 18:46] cesswairimu commented on #498
@keshavsethi, @jywarren, @AyanChoudhary, @imajit,@NitinBhasneria, @nstjean, @marientje, @rutger-t, @Janet33, @TroydonAnabolic, @priyanshbalyan, @Medlineme4, @mandysGit, @msanden, @AidenOliver, @Janetsomehow, @AntroMarina, @llabake, @khushi02, @Alexjake660, @LarrySul, @nicoleiocana, @chrisdrums1, @Angelvicks, @Akanksha1212, @beladinaelfitri, @rid1hady, @shreyaa-s, @goamoth, @SusannaDiV, @yusofsf, @

[2020-04-13 18:46] cesswairimu commented on #498
@moliver4, @justinelai, @Snouzy, @stevenalila, @Digiox, @yandu31, @milosv1, @jamescapps, @Nevenem, @chirag-wadhwa, @yogeshjdeshmukh, @omizrahi99, @cesswairimu, @theOpetunde, @sailahonkanen, @robin-natale, @avidler, @ccyccyccy

[2020-04-13 18:55] cesswairimu commented on #498
Hey al :wave:  I am doing fine. One thing I am doing to keep sane is, I stopped consuming too much news. I tried yoga last week, found out I don't have enough patience :laughing: ...will try again this week. I am also Netflixing.
Great week ahead

[2020-04-13 19:14] Medlineme4 commented on #498
Hello Everyone. I am doing great. I never knew staying at home could be this interesting.  I'm trying new things out. I do lots of exercise these days. And I am also happy I have the Public Lab Community to communicate with.

[2020-04-13 19:51] gauravano commented on #498
Hi everyone,

I am doing great.

Working out regularly from home, spend some time on the terrace (try to get a bit of sunlight daily), and then do office work. I have also started contributing to open source from yesterday.

Wishing you all a happy week ahead 💯🥂

[2020-04-13 19:55] sashadev-sky commented on #498
hi everyone!

To stay sane I have also been contributing to OS, and have found a lot more time to do so outside of my day job which I am happy about.

Also I have taken up playing Animal Crossing; this quarantine activity was recommended to me by many people and lives up to its rep 😅

[2020-04-13 19:58] cesswairimu commented on #498
Hi @sashadev-sky and @gauravano nice to hear from you both its been a minute.. @sashadev-sky I will checkout animal crossing :smile:

[2020-04-13 20:00] Uzay-G commented on #498
Hey! I have been getting into competitive programming a lot during my quarantine and I have also been doing a few hackathons with some cool friends where we built a [github integration](https://reposi.0cdn.me). I also will have more time to hopefully contribute and build some nice stuff :smile:

[2020-04-13 20:04] alaxalves commented on #498
Last week I have been busy accomplishing some personal projects. Had not much time to contribute with the PL community, but I got to successfully open a PR at the Mapknitter-Exporter repo. This is the the link: publiclab/mapknitter-exporter#27. I intend to keep up with export-related contributions as well as the Rails upgrade going on in Spectral Workbench here --> https://github.com/publiclab/spe

[2020-04-13 20:05] sashadev-sky commented on #498
@cesswairimu you too!!! So awesome to so many familiar faces

[2020-04-13 20:17] gauravano commented on #498
Same here @cesswairimu.

The project is looking good @Uzay-G. All the best for CP.

[2020-04-13 20:44] Uzay-G commented on #498
Thanks a bunch @gauravano!

[2020-04-14 08:17] SusannaDiV commented on #498
Hello, thanks for asking! I have online classes to keep me occupied, and I've started preparing myself for next year's SWERC with my colleagues. Living in Italy I haven't been outside once in the last 2 and a half month - I'm following 80's workout video tips to keep me active ahah!

[2020-04-15 01:21] B4Lee commented on #498
Hi Everyone,
I am doing great
Currently, I am busy working on e-commerce projects, but sometimes I play DotA 2 with my friends during this pandemic COVID 19 Quarantine.

I hope you all stay healthy and remember **#StayHome #SaveLives**

[2020-04-15 07:15] gr455 commented on #498
Hi everyone!
Currently, I am helping @alaxalves with rails upgrade for spectral. Apart from that I have been learning django which is also a very cool web framework(also I am quite familiar with MVC through rails).
I play some video games in my spare time, just finished Hollow Knight(amazing game btw) and have kinda started reading Harry Potter :)

[2020-04-18 14:54] cesswairimu commented on #498
Thanks everyone for checking-in...Would anyone like to open next week's check-in? Thanks

[2020-04-18 15:20] goamoth commented on #498
Hola!
Good to hear from everyone, hope you are all doing great and keeping safe!
Am at home too and trying to take as much courses on Pluralsight as I can as this month all courses are free... Also been doing practice building react components using TDD with Jest. Love the whole test first approach, and I have a curious eye for JAMStack, still trying to understand how it works. Most importantly, a

[2020-04-19 01:10] TroydonAnabolic commented on #498
Not managing much time to work on my projects now that im working full time and it takes 3 hours + of my time on travel. Then I have to smash some weights at home to maintain my physique. Hoping that my job goes to mainly remote work soon so I can use those extra 3 hrs to build fun Unity game and software app projects.

[2020-04-23 18:43] Angelvicks commented on #498
Hello everyone,  I am doing great now, was sick for a while. Currently increasing my skills in python and am learning java at the same time during this quarantine.

[2020-04-27 19:42] SidharthBansal commented on #497
Duplicate

[2020-04-27 19:42] #497 closed

[2020-04-27 19:43] SidharthBansal commented on #491
Thanks for above suggestions. Can you please do the changes in a PR?

[2020-04-27 19:44] SidharthBansal commented on #398
Hi, try logging through public lab or any provider. If still you face problem, please tell which icon did you clicked. We will be happy to help

[2020-04-27 19:45] SidharthBansal commented on #415
I hope it works now. Please feel free to open up an issue again if problem persists

[2020-04-27 19:45] #415 closed

[2020-04-27 19:46] SidharthBansal commented on #398
I hope it works now. Please feel free to open up an issue again if problem persists

[2020-04-27 19:46] #398 closed

[2020-04-27 20:40] gr455 commented on #491
Sure!

[2020-04-28 14:17] cesswairimu commented on #498
Hi all... I am out of themes and no one expressed interest of opening a new check-in...please check-in here for any concerns and questions this week. we shall open a new check-in next week. Have a great week ahead.

[2020-04-28 14:37] cesswairimu commented on #498
@Tlazypanda save the day :tada:  :tada:  Thanks
Moved to https://github.com/publiclab/plots2/issues/7844
Thanks everyone

[2020-04-28 14:37] #498 closed

[2020-04-29 22:08] cesswairimu commented on #497
I didn't realize I created two issues...thanks @SidharthBansal for this catch :+1:

[2020-05-07 00:08] alaxalves opened #500 "Configure simplecov to get test coverage"
**Please describe the desired behavior.**
Describe the solution you'd like.

Have Simplecov tool to get the percentage of test coverage.

[2020-05-07 00:25] alaxalves opened #501 "Define a desired test coverage percentage and achieve it"
**Please describe the desired behavior.**
Describe the solution you'd like.

Choose a desired percentage (e.g. 70%) and write tests in order to achieve it. We'll depend on a test coverage tool configured though. So this depends on https://github.com/publiclab/spectral-workbench/issues/500

[2020-05-07 00:33] alaxalves opened #502 "Update to Ruby >2.5"
**Please describe the desired behavior.**
Describe the solution you'd like.

Upgrade the Ruby version in order to get the newer features. Via https://medium.com/tailor-tech/whats-new-in-ruby-2-6-a4774f3631c1

[2020-05-07 00:35] alaxalves opened #503 "Use newer Node version"
**Please describe the desired behavior.**
Describe the solution you'd like.
Update the Node version to a  newer one.

[2020-05-07 00:37] alaxalves opened #504 "Upgrade to Latest Rails"
**Please describe the desired behavior.**
Describe the solution you'd like.
Upgrade from Rails 3.2 to Rails 6.0 (or latest available for Debian at at the time)

- [ ] Upgrade to Rails 4.x
- [ ] Upgrade to Rails 5.x
- [ ] Upgrade to Rails 6.x

[2020-05-07 00:38] alaxalves commented on #504
Rails 4.x upgrade done at https://github.com/publiclab/spectral-workbench/pull/499

[2020-05-07 00:40] alaxalves commented on #503
Via https://developer.ibm.com/technologies/node-js/blogs/nodejs-13-is-out-heres-what-it-means-for-you/

[2020-05-08 12:04] #469 closed

[2020-05-08 12:05] alaxalves commented on #504
Moving forward with this since https://github.com/publiclab/spectral-workbench/issues/469#issuecomment-568144339

[2020-05-19 01:39] alaxalves opened #506 "GSOC 2020: Mapknitter Image Export and Spectral Workbench upgrade"
Here, we can discuss about weekly goals and the plans for the work to be accomplished during the whole project.
Original proposal is available here: https://publiclab.org/notes/alaxallves/03-06-2020/gsoc-proposal-2020-spectral-workbench-rails-and-devops-upgrades?_=1583504846

 # Spectral Workbench

## Tasks

### Pre Steps

- [ ] Get test coverage percentage tool set up
- [ ] Define a desired stabl

[2020-05-19 01:45] alaxalves commented on #506
Test coverage tool set up:
https://github.com/publiclab/spectral-workbench/pull/496

[2020-05-19 01:47] alaxalves commented on #506
Improve CI builds:
https://github.com/publiclab/spectral-workbench/pull/480
https://github.com/publiclab/spectral-workbench/pull/487

[2020-05-19 01:47] alaxalves commented on #506
Intermediate "development" branch:
https://github.com/publiclab/spectral-workbench/tree/development

[2020-05-19 01:48] alaxalves commented on #506
Containerize the development environment:
https://github.com/publiclab/spectral-workbench/pull/470

[2020-05-19 01:49] alaxalves commented on #506
Update Ruby, Node and Rails:
https://github.com/publiclab/spectral-workbench/pull/495

[2020-05-19 01:50] alaxalves commented on #506
Get Mapknitter running into the cloud:
https://github.com/publiclab/mapknitter/pull/1273

[2020-05-19 01:54] alaxalves commented on #506
Container-wrap any Exporter related projects:
https://github.com/publiclab/mapknitter-exporter/pull/27
https://github.com/publiclab/mapknitter/pull/363

[2020-05-21 14:11] alaxalves opened #507 "Include Codecov to analyze test coverage increase or decrease"
**Please describe the desired behavior.**

Get Codecov setup as in Mapknitter to keep track of test coverage increase or decrease.

[2020-05-21 14:23] alaxalves commented on #506
Currently we're running on ~68% of code coverage. Via:
![image](https://user-images.githubusercontent.com/19597045/82568497-49befc00-9b55-11ea-9d30-8b7f8e12b3fa.png)

@gr455 has kindly offered his help to get the percentage up, but I still @jywarren to define with me an acceptable percentage, in order to get https://github.com/publiclab/spectral-workbench/pull/499 merged and consequently the upcom

[2020-05-26 14:43] #500 closed

[2020-05-26 16:30] jywarren commented on #506
Just linking in my suggestion from the check-in -- `Do you think that system tests which walk through the steps in the tutorials in https://publiclab.org/wiki/spectral-workbench will be possible?` -- this will increase the number of required tests but since those interactions (like calibration, or adding operations, for example) are really critical, it'll help to have system tests for them!

For t

[2020-05-26 16:31] jywarren commented on #506
To the question of acceptable coverage, I think system tests of the critical functions documented in the tutorials would be make me very confident in merging #499. What do you think of that, Alax, does that makes sense to you too?

[2020-05-26 16:33] jywarren commented on #506
* https://publiclab.org/wiki/spectral-workbench-snapshots
* https://publiclab.org/wiki/spectral-workbench-calibration
* https://publiclab.org/wiki/spectral-workbench-tools
* https://publiclab.org/wiki/spectral-workbench-operations

(working on fixing these videos today, sorry!)

[2020-05-27 14:37] alaxalves commented on #506
Hello Jeff, thx for the feedback.
Right now, me and Ruturaj are working with the models and controllers tests to assure #499 is more trustful to be merged. I felt like after those testing upgrades we can be confident regarding that. Now when it comes to the system tests, I think it's a great idea and I believe that it could fit our schedules, but I don't think that it should push us back from merg

[2020-06-02 18:36] jywarren commented on #506
Hi @alaxalves I think this is OK because the status quo right now is that these are manually tested. What we can do is if you can go through the videos and guides on the above links to confirm that they work (i.e. calibration, using operations, using snapshots, and basic intro video on
https://publiclab.org/wiki/spectral-workbench-tools, and confirm each of these locally, we can merge #499, as tha

[2020-06-03 01:26] alaxalves commented on #506
Great, I'll manually confirm that those features actually work and I'll give the input here and fix whatever has to be fixed.

I have already an effort on setting system tests here --> https://github.com/publiclab/spectral-workbench/tree/feat/system-tests but it'll be waaaay less painful when we have Rails >5 here.

[2020-06-19 07:55] wolferlab opened #517 "graph or spectrum of cfl for calibration of smartphone spectroscope"
## What happened just before the problem occurred

## Relevant URLs

https://

## PublicLab.org username

(to help reproduce the issue)

## Browser, version, and operating system

For bug reports, fill out the above template; for feature requests, you can delete the template.

[2020-06-30 09:37] cesswairimu opened #520 "Weekly Community Check-In #65 - GSoC First Eval Due this week"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-06-30 09:40] cesswairimu commented on #520
@JapneetSingh5, @Neilblaze, @markkulube, @vinuch, @Tlazypanda, @icarito, @dependabot-preview[bot], @jywarren, @keshavsethi, @praaatik, @Janitham97, @imanishbarnwal, @dburugupalli, @adityakpranav, @ioampatzidis, @esiebomaj, @Alexjake660, @cesswairimu, @urvashigupta7, @daemon1024, @jscastanos @keshavsethi, @jywarren, @AyanChoudhary, @imajit,@NitinBhasneria, @nstjean, @marientje, @rutger-t, @Janet33,

[2020-06-30 09:40] cesswairimu commented on #520
@keshav234156, @WaldenJosh, @B4Lee, @VisnuGanth, @jessibreen, @alaxalves, @kamal-kaur04, @sssash18, @chinmay021, @Srija616, @AnnaMinakova, @greenbrown, @taysa91, @TaishiRoy, @yagmurbaydogan, @Shulammite-Aso, @Jigyasa-Kumari @moliver4, @justinelai, @Snouzy, @stevenalila, @Digiox, @yandu31, @milosv1, @jamescapps, @Nevenem, @chirag-wadhwa, @yogeshjdeshmukh, @omizrahi99, @theOpetunde, @sailahonkanen,

[2020-06-30 09:42] cesswairimu commented on #520
@Janet33, @TroydonAnabolic, @priyanshbalyan, @Medlineme4, @mandysGit, @msanden, @AidenOliver, @Janetsomehow, @AntroMarina, @llabake, @khushi02, @Alexjake660, @LarrySul, @nicoleiocana, @chrisdrums1, @Angelvicks, @Akanksha1212, @beladinaelfitri, @rid1hady, @shreyaa-s, @goamoth, @SusannaDiV, @yusofsf, @nanlliu, @WaldenJosh, @B4Lee, @VisnuGanth, @jessibreen, @alaxalves, @kamal-kaur04 @adityakpranav @e

[2020-06-30 09:57] cesswairimu commented on #520
To the interns and all contributors...If you are working on something and find a minor bug or after a completion of feature and you realize you missed smth minor on the implementation...kindly consider converting these to ftos and link them [here](https://github.com/publiclab/plots2/issues/7683)...or just label the issue as a `fto-candidate` and ping me...I will help convert it to a fto... please

[2020-06-30 14:06] Tlazypanda commented on #520
Hey everyone :wave: This week I am working on alternative text for images, made some changes to existing prs and plan to optimise performance on further api endpoints :v:  If anyone has time, please review https://github.com/publiclab/plots2/issues/8057 which is the documentation of performance and accessibility guide :sweat_smile:

Have opened https://github.com/publiclab/plots2/issues/8094 https

[2020-06-30 14:41] jywarren commented on #520
@Tlazypanda this is super -- thank you! Other @publiclab/soc team members -- creating `first-timers-only` issues is an important part of your projects, and of working on team leadership. Many of you have made them before; it's a great chance now to begin integrating the creation of new FTO issues into your weekly workflow, and to start building a broader team with the skills to contribute! 🤝 ❤️

T

[2020-06-30 14:50] jywarren commented on #520
Also - i wanted to remind GSoC team members @NitinBhasneria @keshavsethi @keshav234156 and @alaxalves that the DIAL program has asked each of you to provide very brief weekly blog posts and "standing meeting" check-ins. You can see some of you have been doing this each week:

https://hub.osc.dial.community/t/weekly-gsoc-student-checklist/1640/2

But I believe these are required from everyone. Not

[2020-06-30 14:52] jywarren commented on #520
Hi all - one more thing for @NitinBhasneria @keshavsethi @keshav234156 and @alaxalves -- as evals are due this week, if you could ensure that your project planning issues are up to date and even a brief (one sentence) recap/summary of where you are in your project would be super helpful to ensure we do a thorough job writing evals! Great work getting this far!!! 🎉

[2020-06-30 15:24] alaxalves commented on #520
Hey @jywarren
Should I write this Evaluation 1 recap at publiclab.org?

[2020-06-30 19:58] keshavsethi commented on #520
Hey Everyone :wave:
Last week I worked on the pagination of spam2 and refined its UI a bit. I have also added notification settings for Digest. Next week I am going to work on flag posts and queues and write their tests.

**I have updated my planning issue with the list of tasks completed**
https://github.com/publiclab/plots2/issues/7885

**This is the list of my major PRs**
 https://github.com/pu

[2020-07-06 15:20] cesswairimu commented on #520
Moved to https://github.com/publiclab/plots2/issues/8113#issuecomment-654164982 . Thanks everyone :+1:

[2020-07-06 15:20] #520 closed

[2020-07-28 18:03] alaxalves commented on #502
Fixed!

[2020-07-28 18:03] #502 closed

[2020-07-28 18:03] alaxalves commented on #503
Fixed ! using Node 13 now

[2020-07-28 18:03] #503 closed

[2020-07-28 18:04] alaxalves commented on #507
Fixed!

[2020-07-28 18:04] #507 closed

[2020-07-28 18:38] alaxalves commented on #488
Fixed by #493

[2020-07-28 18:38] #488 closed

[2020-08-14 12:33] alaxalves commented on #501
Done! :)

[2020-08-14 12:33] #501 closed

[2020-08-14 12:35] alaxalves commented on #489
Done at https://github.com/publiclab/spectral-workbench/pull/530

[2020-08-14 12:35] #489 closed

[2020-08-24 08:24] Shulammite-Aso opened #541 "Weekly Community Check-In #73 - GSoC Wrap up"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-08-24 09:36] cesswairimu commented on #541
@jywarren,  @rexagod, @dependabot[bot], @NitinBhasneria, @VladimirMikulic, @keshav234156, @shreyaa-sharmaa, @Shulammite-Aso, @cesswairimu, @sagarpreet-chadha, @manansingh96, @IgorWilbert, @DivyeshPuri, @geekychasser, @shreyaa-s, @tsparksh, @ananyo2012, @anto004, @avi-jain, @man-ahmad, @djmgit, @DevanshCodes, @DiegoValenciaRoman, @gauravano, @ijeomaemeruwa, @spelgubbe, @okonek, @j-tanz, @namanrai,

[2020-08-24 09:51] cesswairimu commented on #541
@Shokescodes, @avats-dev, @NC25, @arteevraina, @Tlazypanda, @jywarren, @Shulammite-Aso, @Mohitkumar6122, @Ganeshjadhav221b, @RatanNarayanHegde, @keshavsethi, @LifeofDan-EL, @NitinBhasneria, @dms-yondy, @siddhama, @renugasaraswathy, @AgyeyaMishra, @Jolios, @cesswairimu, @samarakoon-ryan, @Samasth, @malaikaaiyar, @OmLakshmi, @nsachin08, @galanggg, @ishika1727, @icarito, @RajatSablok, @mronauli

[2020-08-24 12:15] Shulammite-Aso commented on #541
HI all. It's been particularly great working with @keshav234156 and  @NitinBhasneria so far. Keep being awesome guys :smile: :tada:

Was mostly unable to do a lot here last week. Became was tough and busy for me as my family moved to a different place and for a number of reasons i'm the main person who can help around to make sure things work fine.
This week i'm going to continue working on the is

[2020-08-24 18:25] ebarry commented on #541
Glad to hear that you were able to make things work fine last week @Shulammite-Aso ❣️
Over here, New Orleans staff is dealing with a couple extreme storms, and some might have to evacuate.
So lovely to chat with everyone here :)

[2020-08-25 06:34] Shulammite-Aso commented on #541
Thanks @ebarry
Sad to hear about the storms :grimacing:

[2020-08-25 10:02] cesswairimu commented on #541
@ebarry please stay safe :heart:
A reminder to GSoC interns, final evals are currently ongoing deadline is on 31st. Congrats to you all :tada:

[2020-08-25 11:09] Tlazypanda commented on #541
Hey everyone :wave:

A round of applause for all the gsoc interns :100: :clap: :tada: This summer of code program has definitely brought all of us closer as a team and am looking forward to staying connected with you ahead in life as well :tada:

@ebarry Please take care :heart:

This week worked on some more performance optimisations https://github.com/publiclab/plots2/pull/8339 and print templat

[2020-08-25 14:47] jywarren commented on #541
Hi all - echoing @Shulammite-Aso @cesswairimu @Tlazypanda and others in congratulating the GSoC team (and one more congrats to the Outreachy team!)! 🎉 🎉 🎉 🎉

I'm filing some last minute issues to help us get over the finish line, as well!

I know folks are already using a lot of the new features, so you should all be immensely proud of the work to date!

@Shulammite-Aso please take the time you ne

[2020-08-25 21:36] keshavsethi commented on #541
Hey Everyone 👋🏻
The last 3 months of internship here at PL ❤️  were really _awesome_ :heart_eyes: and I learned a lot to things from everyone!! 🎉 🎉

Thanks to all the mentors, community members, and everyone for helping, reviewing, and continuously supporting me throughout the GSoC period @jywarren @cesswairimu @VladimirMikulic @pydevsg @SidharthBansal @Uzay-G @ebarry and all the fellow members an

[2020-08-25 21:50] LifeofDan-EL commented on #541
Hey, everyone, I'm kind of new here. I'm an Android developer with technical skills. I just looking for a way to contribute to the community. I'm quite good with docs and hopefully, they will be an Android project idea for GSoC next year.

[2020-08-27 18:17] ebarry commented on #541
Welcome @LifeofDan-EL !

For those here finishing up summer fellowships, thank you for writing this great documentation and please keep it on hand as you prepare for the video presentation on September 14. Please hold your calendars to be available that day! See the time on the calendar at https://publiclab.org/events -- scroll down a bit

[2020-09-03 17:32] sagarpreet-chadha commented on #541
Moved to https://github.com/publiclab/plots2/issues/8374

[2020-09-03 17:32] #541 closed

[2020-10-08 21:20] MSLDgit opened #556 "image rotation"
Hello,

whenever uploding an image of a spectrum in spectralworkbench, no matter the original orientation of the image, nor the tick in the option "spectrum is vertical", the spectrum will be aligned vertical and the calibration operations always are aligned as if the spectrum is horizontal.
This results in that I cannot calibrate the image.
Is there a function to rotate the calibration or the ima

[2020-10-27 12:12] icarito opened #565 "Very slow route"
## What happened just before the problem occurred
We're seeing brief outages every day for the last few days when load is high.
Analyzing usage graphs from Rackspace and Skylight, I found that there are a couple of routes that might be optimized (SpectrumController and UsersController). It will be worth to check for missing indexes.

![imagen](https://user-images.githubusercontent.com/199755/97299

[2020-10-28 04:23] ruralcoder opened #566 "Installation instructions fail"
Was following the installation instructions which requires ruby 2.1 `rvm install 2.1.2`.

However, once I run `bundle install` I get the following error message.

`rake-13.0.1 requires ruby version >= 2.2, which is incompatible with the current version, ruby 2.1.2p95`

I will be trying to install ruby 2.2 and see, but the instructions are still problematic.

[2021-03-10 13:07] Vort opened #605 "Spectrum calibration do not work"
## What happened just before the problem occurred

I was trying to add calibration to spectrum [#207609](https://spectralworkbench.org/spectrums/207609) using URL, which is suggested at this link:
[Spectral Workbench calibration#Custom calibrations](https://publiclab.org/wiki/spectral-workbench-calibration#Custom+calibrations):
https://spectralworkbench.org/spectrums/calibrate/207609?x1=718&w1=585

[2021-03-10 20:27] Vort commented on #605
Turns out that GUI calibration fails too for neon spectrum.
So this is a second part of the bug:
https://spectralworkbench.org/spectrums/207634
x1 = 372, w1 = 585, x2 = 636, w2 = 640
Which means that for w3 = 435, and w4 = 546: x3 = -349 and x4 = 184
But despite correct location in preview, resulting scale starts at 435.8 (should start at 508).

[2021-03-23 14:58] waridrox opened #608 "Support for iOS devices and Safari on MacOS for live camera feed"
**Please describe the desired behavior.**

- Currently on (iOS 14/ iPadOS) in safari or chrome browser, the live camera feed cannot be loaded both on _https://spectralworkbench.org/capture_ or on localhost:8080/examples/capture/. This means that iOS users are out of luck since these popular browsers can't support the live feed.

- On safari for MacOS there's a different scenario observed where on

[2021-03-30 19:41] jywarren commented on #608
This should be achievable with the new Capture code in https://github.com/publiclab/spectral-workbench.js/issues/219, and so we should note that substantial project would solve this and many other issues in this repository. Thank you, it's a great suggestion!!!

[2021-05-12 13:34] icarito opened #627 "Apt repository key is expired"
We need to figure out how to re-sign the apt repo.

Step 5/16 : RUN apt-key add /app/sysadmin.publiclab.key
 ---> Running in 5bccd53ff63d
[91mWarning: apt-key output should not be parsed (stdout is not a terminal)
[0mOK
Removing intermediate container 5bccd53ff63d
 ---> 3f982591e34f
Step 6/16 : RUN apt-get update -qq && apt-get install -y --no-install-recommends   nodejs gdal-bin curl procps git

[2021-05-25 20:49] jywarren opened #635 "New stable/unstable build servers"
@waridrox - just noting here that @icarito is in the process of setting up "stable" and "unstable" build/test servers, just like we have for plots2:

https://github.com/publiclab/plots2/blob/main/doc/TESTING.md#testing-your-work-with-unstable

This should help your process!

[2021-05-25 20:50] jywarren commented on #635
Maybe we build out the readme here in this repo, echoing this setup for SWB?

[2021-05-25 20:53] jywarren opened #636 "Convert automated tests/checks from TravisCI to GitHub Actions"
Building on https://github.com/publiclab/plots2/issues/9641 and especially the example in https://github.com/publiclab/plots2/issues/8793, we need to move this repo to GitHub Actions so we can get our tests running again and get unblocked (esp before @waridrox gets started on June 7!)

More on this soon!

[2021-05-31 06:29] RoyceThomas opened #640 "I believe I know why SpectralWorkbench is having some issues..."
Hello Public Lab or whoever this may concern, I am a representative of Penrith Public High School, NSW Australia, and I believe the reason why the site is having some issues is because of us. A few weeks ago, we were tasked to use your website as a key commodity to a HSC assignment procedure. So, 60 students were simultaneously using your website to upload, edit, refine graphs of spectrographs. Fo

[2021-05-31 16:50] icarito opened #638 "500 error on saving new spectrum"
After deploying I wanted to test saving a new spectrum and am getting:
[code]

[2021-05-31 17:30] icarito commented on #638
This issue has been tracked down to a misconfigured disk volume mount in the container.
After correct configuration, the spectrum is created fine, but there appears a 500 error:
[code]
Seems to be some kind of validation issue.

[2021-05-31 17:32] icarito opened #639 ""Destroy" link leads to 404"
## What happened just before the problem occurred

## Relevant URLs

https://

## PublicLab.org username

(to help reproduce the issue)

## Browser, version, and operating system

For bug reports, fill out the above template; for feature requests, you can delete the template.

[2021-05-31 17:39] jywarren commented on #640
We'll be doing an in-depth analysis in https://github.com/publiclab/spectral-workbench/issues/638 if you'd like to follow along.

[2021-05-31 17:41] jywarren commented on #638
Could be this: https://stackoverflow.com/a/48120366/1116657

[2021-05-31 17:53] jywarren commented on #638
OK when i save a live captured spectrum i'm seeing:

[code]

[2021-05-31 17:53] jywarren opened #641 "/upload is erroring with 404 not found"
https://spectralworkbench.org/upload

https://github.com/publiclab/spectral-workbench/blob/main/config/routes.rb#L40 - not sure why, the route looks good

[2021-05-31 17:54] jywarren commented on #641
Strange, @icarito doesn't see this:

![image](https://user-images.githubusercontent.com/24359/120227741-c0d2aa00-c217-11eb-89a2-de4bd7845c1d.png)

[2021-05-31 17:59] jywarren commented on #638
Was there a change in policy where `null: false` is now by default in Rails 4?

[2021-05-31 18:26] jywarren commented on #638
OK still not sure how this happened, but production had `null: false` i.e. prohibited, while GitPod showed `null: true` for the lat and lon columns, meaning allowed. How did production get this way? We are manually changing it but... you'd think it'd have been an issue before. Have we migrated the whole db and how could such a setting not get migrated too?

[2021-05-31 18:27] jywarren commented on #638
There do seem to be some changes in defaults behaviors between MySQL 5.6-5.7: https://github.com/rails/rails/issues/38622 (and others)

[2021-05-31 18:29] jywarren commented on #638
Gitpod is using: `mysql  Ver 8.0.21-0ubuntu0.20.04.4 for Linux on x86_64 ((Ubuntu)`

Production is using MariaDB, not sure what version, but probably post equivalent to MySQL 5.7.

[2021-05-31 18:30] jywarren commented on #641
Tested multiple times more and i'm still unable to access it from my chromebook. will try other devices. Sebastian still able to access it.

[2021-05-31 18:30] jywarren commented on #641
And it works fine in GitPod on my chromebook...

[2021-05-31 18:32] jywarren commented on #641
Same 404 from Android phone chrome browser:

![Screenshot_20210531-143152](https://user-images.githubusercontent.com/24359/120230306-0ba2f080-c21d-11eb-95a2-a30c9351e8b8.png)

[2021-05-31 18:34] jywarren commented on #638
https://github.com/publiclab/spectral-workbench/blob/b764f35429f00879c61771bd49199ccf65ae2c91/app/controllers/spectrums_controller.rb#L269-L276 are the lines

Aha!!!

![image](https://user-images.githubusercontent.com/24359/120230440-4ad14180-c21d-11eb-9000-bffcb3ed8e7c.png)

[2021-05-31 18:36] jywarren commented on #638
so, strangely, gitpod lacks the limitation because it used all the migrations, but production skips them because it's supposed to already be in that state

https://github.com/publiclab/spectral-workbench/pull/499/files#diff-99e8bae2fa8f313d8a18aa9126557c29f965bb84f3c74786ac8a6403aee212e1L3

[2021-05-31 18:39] jywarren commented on #638
anyhow i think it's OK that we are doing it manually, as a result. By editing this file, Alex kind of changed history

[2021-05-31 18:41] jywarren commented on #638
So what I don't get is why the default of 0 wasn't used. We may need to go in and add default 0 to all records. We could possibly then re-add the `null: false` requirement? But not sure.

[2021-05-31 18:45] jywarren commented on #638
OK with the manual db change we are now able to save spectra from live capture! https://spectralworkbench.org/spectrums/220649

Leaving this open for follow-up in case needed... will re-assess tomorrow! Thanks @icarito

[2021-05-31 18:46] jywarren commented on #640
Hi we believe we have resolved the issue and saving now works:

https://github.com/publiclab/spectral-workbench/issues/638

We'll check in again tomorrow. We also observed an intermittent/unpredictable issue with spectrum upload at https://spectralworkbench.org/upload, tracking that in #641 -- more on that one soon. I'll close this for now but please tell us if you have more trouble!!

[2021-05-31 18:46] #640 closed

[2021-05-31 18:47] icarito commented on #638
Thank you Jeff for helping to debug the issue and confirming the table
alteration at the live database!
--
Sebastian Silva

El lun, 31 may 2021 a las 14:45, Jeffrey Warren ***@***.***>)
escribió:

[2021-06-04 03:31] icarito opened #644 "Some paths returning 404"
These URLs are expected to exist:

https://spectralworkbench.org/upload

https://spectralworkbench.org/spectrums/latest/220369.csv

[2021-06-04 03:34] icarito commented on #644
I can actually reach https://spectralworkbench.org/upload

[2021-06-04 04:11] #638 closed

[2021-06-04 04:15] norenTM commented on #644
When logged in, I'm not able to reach https://spectralworkbench.org/upload - have also tested this on different browsers.

[2021-06-05 08:43] waridrox opened #645 "[Planning] - spectralworkbench.js / rails integration"
Working upon https://github.com/publiclab/spectral-workbench.js/issues/219 to achieve the following:
* [x] 1: Porting new version of spectralworkbench.js library into spectral workbench rails app. #671
* [x] 2: Adding a `/v2` route and view for the new capture integration. #660
* [x] 3: Capture code re-factor #672
* [x] 4: Making sure the old capture code at `/capture` doesn't break. #672
* [x] 5:

[2021-06-06 23:22] norenTM commented on #641
Is this going to be addressed soon? I have a project due very soon and I'm worried that I will have incomplete data. I can't get the upload page to load on any device.

[2021-06-06 23:53] icarito commented on #641
Hello,
Yes after some discussion and looking at the feedback, we've decided to
rollback into the previous version tonight.
Please excuse the disruption in the regular functionality of Spectral
Workbench.
Regards,
--
Sebastian Silva
System Administrator at Public Lab

El dom, 6 jun 2021 a las 19:23, Noren ***@***.***>) escribió:

[2021-06-07 03:40] jywarren commented on #645
This looks great. Your first two tasks listed look like a super place to
begin!!

On Sat, Jun 5, 2021, 5:04 AM Mohammad Warid ***@***.***>
wrote:

[2021-06-07 05:07] icarito commented on #641
We've rolled back to a previous version. Please let us know if you continue to have problems.

[2021-06-07 07:51] norenTM commented on #641
Logging in results in a 404 😅

[2021-06-07 11:24] norenTM commented on #641
This has been resolved now, I assume due to time. Thank you very much for your efforts, all 404-related bugs (/upload, downloading files) have all been eradicated.

[2021-06-07 22:41] waridrox commented on #645
- @jywarren, it seems that the library on NPM at _https://npm.runkit.com/spectral-workbench_ has not been updated to incorporate many of the recent changes that were added like the new distributable capture code at _https://github.com/publiclab/spectral-workbench.js/blob/main/dist/capture.dist.js_.
- The library on NPM is reflective of the codebase at _https://github.com/publiclab/spectral-workben

[2021-06-08 02:26] jywarren commented on #645
You can point it at a commit, yes, or we can run npm publish? Let's do a
commit first and I can show you the process for npm publish soon!

Thanks!

On Mon, Jun 7, 2021, 6:41 PM Mohammad Warid ***@***.***>
wrote:

[2021-06-08 21:45] waridrox commented on #645
So I managed to pull the recent changes by pointing the library to the `main` branch by the cmd `bower install 'git://github.com/publiclab/spectral-workbench.js#main' --save` and it worked!

[2021-06-10 22:29] jywarren commented on #645
ah, are we still using bower? I thought Spectral Workbench uses Yarn now, and the command would be `yarn install`. Could you try that as I think we are trying to deprecate bower usage!

Also - it may be best to fix it to a specific commit, as `main` will change quite often, and so merging to main could cause a test failure on the main branch of the parent app. Pinning it to a specific commit intro

[2021-06-10 22:31] jywarren commented on #645
Npm publish docs are here: https://docs.npmjs.com/cli/v6/commands/npm-publish/

Basically the first time or two i'd like to lead the publication process, then you can start doing it.

How familiar are you with semantic versioning? You can read about it here: https://docs.npmjs.com/about-semantic-versioning - remember the discussions in https://github.com/publiclab/image-sequencer/issues/1751 about

[2021-06-10 22:36] jywarren commented on #645
OK, so i've opened a PR bumping SWB.js to `v0.2.0`, as the last time it was published was 5 years ago! 😱

https://www.npmjs.com/package/spectral-workbench shows this. Once we merge it, we'll be able to publish a new version. A lot has been added but I don't believe it includes any breaking changes, so I consider it an `0.2.0` version number by semantic versioning. How does that sound?

[2021-06-10 22:43] jywarren commented on #645
Awesome, i merged it and ran `npm publish` from the `main` branch. We are at `v0.2.0` now!!!

[2021-06-10 22:45] jywarren commented on #645
@waridrox we are still a little stuck on getting tests passing on https://github.com/publiclab/spectral-workbench/issues/636 in github actions. Have you explored copying some of the setup from plots2 to get this running? This would unblock a TON of our dependency upgrades, and give your work this summer a lot more support!

[2021-06-11 09:34] waridrox commented on #645
Hi @jywarren, thanks a lot for publishing the `npm package` 😄, things should be pretty straightforward now...unfortunately `yarn install` / `npm install` lead to an error. So I had to create a `bower.json` file to get the dependencies installed. But if we are moving away from bower then we should take a look at the licensing part of the dependencies as suggested in the error.

<img width="484" alt

[2021-06-11 17:52] jywarren commented on #641
Thank you for the extra checks @norenTM -- much appreciated. We have been simultaneously dealing with some very high bot activity on PublicLab.org and trying to mitigate downtime in relation to that.

For folks working on this issue, we rolled back but the error is still visible at https://stable.spectralworkbench.org/upload (our staging server) -- compare to https://spectralworkbench.org/upload w

[2021-06-11 17:52] jywarren commented on #641
Could Bootsnap be involved here? It provides a lot of caching.

[2021-06-11 18:05] jywarren commented on #641
OK seems the big upgrade in #539  is likely to be the issue - it removed default routing at:

![image](https://user-images.githubusercontent.com/24359/121730701-0c117600-cabe-11eb-825b-144d829e9a8e.png)

https://github.com/publiclab/spectral-workbench/commit/98dbde7a881788f7bd48db59eee616d6de70054b#diff-959bc9abc46a55332bb64d5155a79323afa75a50ec1a2137ddd22d926f62c6c5L193

I bet we had really been

[2021-06-11 19:04] jywarren commented on #645
Aha - ok, yes, so let's just ensure we use the right licensing string, we can reference:

https://github.com/publiclab/spectral-workbench.js/blob/4f29a95119af0aef7a4a2e131ec4815df475e1a8/package.json#L20

See how it's different here:

https://github.com/publiclab/spectral-workbench/blob/b764f35429f00879c61771bd49199ccf65ae2c91/package.json#L6

Let's just change it to match!

[2021-06-12 04:51] jywarren commented on #644
Linking to #641

[2021-06-13 18:40] waridrox commented on #645
Hey everyone, I wanted to know if it is a good idea to place the required JS files from the library into the `assets` folder so that it gets utilised by the asset pipeline / should we point the JS files to the `node_modules` folder / should we look towards something like [webpacker gem](https://edgeguides.rubyonrails.org/webpacker.html). What would be the best possible choice ?

Also regarding the

[2021-06-14 17:18] pydevsg commented on #645
Hi, @waridrox thanks for pointing them out.
Here are my views on your concerned questions.
1. It is always preferred to put the js into the `assets` folder. Also, put it inside `javascripts` folder.
2. Coming to `package.json` , you don't need to create a new `package.json` file. In order to put the latest version what you can do is  "package-name":"*" this will directly install the recent version

[2021-06-15 17:19] jywarren commented on #645
Hi @waridrox - great questions.

This is true, but also Rails has evolved, messily, in terms of the integration of npm, compilers (sprockets earlier, webpacker later) and the Asset Pipeline. You can see that we customized the asset pipeline here just as in plots2, and we'll have to do it again for Rails 6 when that arrives. My feeling is that we should stick with what @alaxalves did in the big #49

[2021-06-15 18:41] jywarren commented on #645
Also, i'd like to ask if you could open a PR with the latest version so we can see how it does in Github Actions and GitPod... i think it'll help @pydevsg myself and you all stay synced! Thank you!!!

[2021-06-15 18:44] jywarren commented on #641
OK, update -- i wasn't able to reproduce this in gitpod -- it shows upload fine:

![image](https://user-images.githubusercontent.com/24359/122106632-2d3cd400-cde8-11eb-9676-1d1e262e2e91.png)

Looking deeper!

[2021-06-15 22:12] jywarren commented on #641
OK, on stable, I can see it happening. And I think we may be GETTING a 500 error, but for some reason be SEEING a 404. I confirmed it's a 404 in the Chrome console. But, on the server side, i see:

[code]

[2021-06-15 22:13] jywarren commented on #644
https://stable.spectralworkbench.org/spectrums/latest/220369.csv

[2021-06-15 22:13] jywarren commented on #644
We need to check if other pages are erroring, besides these. Wasn't there still an error saving?

[2021-06-15 22:15] jywarren commented on #641
Key section:

[code]

[2021-06-15 22:16] jywarren commented on #644
https://stable.spectralworkbench.org/spectrums/latest/220369.csv is a routing error:

[code]

[2021-06-15 22:16] jywarren commented on #641
https://github.com/publiclab/spectral-workbench/blob/afe7c986bbdd871d76ec162dd1d8896b2a165f07/app/models/user.rb#L98-L104

[2021-06-15 22:18] jywarren commented on #641
I bet we can't reproduce in GitPod because it's database dependent. Like, recent calibrations or something!

[2021-06-15 22:18] jywarren commented on #641
And, we should figure out why we're seeing a 404 instead of a 500!

[2021-06-15 22:22] jywarren commented on #644
We'll add a route for CSVs (probably `params[:format]` thing) and check in GitPod.

[2021-06-15 22:23] jywarren commented on #641
Yes, reproducing this will require having a spectrum tagged "calibration" in your profile! The fix, i hope, is at #651.

[2021-06-15 22:25] #641 closed

[2021-06-15 22:32] #644 closed

[2021-06-15 22:38] jywarren commented on #644
we should watch for similar ones in case other routes or queries need fixing!!

[2021-06-15 22:45] jywarren commented on #636
Completed in #647!

[2021-06-15 22:45] #636 closed

[2021-06-20 17:16] waridrox opened #659 "Update .gitignore to ignore node_modules directory"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2021-06-20 19:10] saraswathy-krish commented on #659
Hello @waridrox , I am a first-time contributor here and looking for a first-timers-only issue. Can I take this up?

[2021-06-20 19:18] waridrox commented on #659
Sure @saraswathy-krish! Go for it!🚀 and don’t hesitate to ask for help if required.

[2021-06-20 20:25] saraswathy-krish commented on #659
Thank you @waridrox! I will get started on it.

[2021-06-21 05:41] saraswathy-krish commented on #659
Hi @waridrox , I just now created a pull request. Please let me know in case of any issues. Thanks!

[2021-06-21 07:06] waridrox commented on #659
Hey @saraswathy-krish, just add the issue number to the PR, rest all LGTM 🎈

[2021-06-22 21:13] #659 closed

[2021-06-25 16:34] waridrox opened #665 "new capture keeps stopping live graph of safari"
## What happened just before the problem occurred
The live graph is supposed to work on the new interface like https://publiclab.github.io/spectral-workbench.js/examples/new-capture/ but unfortunately the preview fails on both /v2 and legacy.

The video capture feed is also paused but the waterfall that captures a few seconds of the image works as intended.

https://user-images.githubusercontent.c

[2021-06-26 07:18] wINONZ opened #666 "why I cannot login to save the project?"

[2021-06-26 09:09] waridrox commented on #666
Hi @wINONZ, we're facing some technical difficulties and would update you once the issue gets fixed!!! Thanks for reporting.

[2021-06-26 13:54] waridrox commented on #666
Hey @wINONZ everything is fine now...you can login. Thanks for your patience ☮️.

[2021-06-27 12:01] RuthNjeri commented on #665
Referencing this comment as a potential fix https://github.com/publiclab/spectral-workbench/pull/660#issuecomment-866329946

[2021-06-29 16:28] #666 closed

[2021-06-29 18:38] jywarren commented on #665
I also noticed that the OLD capture graph doesn't work in Safari. I think it may just be an issue with flot? Can we find the line of code where we are refreshing the graph, and see what may be preventing it from firing?

[2021-06-29 18:38] jywarren commented on #665
It could be related to Flot being so old (or a flot safari isssue? https://github.com/flot/flot/search?q=safari&type=issues), and it's possible the fix is really to upgrade to a newer graphing library. But let's not let it block other progress just yet!

[2021-06-29 18:38] jywarren commented on #665
We could try upgrading the flot version to various more recent versions to see if it works.

[2021-07-03 22:33] jywarren opened #673 "Protect critical interfaces (/capture, /capture/v2, /upload, /spectrums/0000) with system tests"
https://github.com/publiclab/spectral-workbench/pull/660 introduced a new page - let's protect it with some system tests:

https://github.com/publiclab/spectral-workbench/tree/main/test/system

what can we brainstorm that we should test for?

We can similarly improve our confidence and speed merging other things if we protect other critical systems with system tests.

[2021-07-03 22:41] jywarren commented on #645
Hi @waridrox i was going to say perhaps responsiveness could wait until the functional changes, but it looks like you've already started! :tada:

This one could be as simple as a link to /login. However, looking at the existing v1 /capture page, see how it offers to let you use it without a login, but encourages you to log in if you want to save? We should try a modal popup with the same kind of i

[2021-07-04 07:52] unnati914 commented on #673
could you guide me to this?

[2021-07-04 10:52] waridrox commented on #673
I think the tests for `capture/v2` would make more sense once we implement the styling for that page. And that way we are able to target specific elements on the webpage in the tests.

As a result, other pages could be looked into before like `/capture` `/upload` and `/spectrums/0000`.

Since things like uploading and going to the specific spectrum would require logging in to the app. We could tes

[2021-07-04 10:54] waridrox commented on #673
Hi @unnati914 🙌 if you would like to contribute you might want to first install the software on your local machine and take a look at how plots2 tests are written - https://github.com/publiclab/plots2/tree/main/test/system. This might give you some idea how system tests work...

[2021-07-06 04:36] unnati914 commented on #673
Hi thank you so much for the help :)

[2021-07-10 17:23] waridrox commented on #665
Hi @jywarren, so I tried to debug the problem and the issue turned out to be really a weird one 😵

The graph doesn't work on safari but after removing all the stepper styles, the graph seems to be working fine:

https://user-images.githubusercontent.com/58583793/125170779-46aa2380-e1ce-11eb-9844-f4d4855649ac.mp4

The issue though is that after a certain height on the webpage, the live graph stops

[2021-07-13 22:11] jywarren commented on #665
This is especially strange because it is actually working in https://publiclab.github.io/spectral-workbench.js/examples/new-capture/ in safari! What's the difference between that and within the Rails app?

[2021-07-13 22:14] jywarren commented on #665
I think we have to compare this code here:

https://github.com/publiclab/spectral-workbench/blob/8f89e0fffd0ac02068857ed6fb775aa5a4460591/app/views/capture/index2.html.erb#L310-L360

https://github.com/publiclab/spectral-workbench.js/blob/4f29a95119af0aef7a4a2e131ec4815df475e1a8/examples/new-capture/index.html#L348-L396

and it's not very tidily written in the first place... but i bet there's some

[2021-07-13 22:16] jywarren commented on #665
Hmm, pretty similar: https://gist.github.com/jywarren/d632d8f5910a598a669902709da8d38c/revisions

On what line is it triggering the graph to display?

[2021-07-13 22:18] jywarren commented on #665
https://github.com/publiclab/spectral-workbench/blob/8f89e0fffd0ac02068857ed6fb775aa5a4460591/app/views/capture/index2.html.erb#L269

And here is where it's actually generating the graph:

https://github.com/publiclab/spectral-workbench.js/blob/4e3c9f65d51d3dacd4a831ab2aebf39181620db8/examples/capture/getRow.js#L113

[2021-07-13 22:18] jywarren commented on #665
Try inserting a comment and moving it around to see where the breakdown is!

[2021-07-13 22:19] jywarren commented on #665
This is really the key section where it fetches the image data, then creates the data to be graphed:

https://github.com/publiclab/spectral-workbench.js/blob/4e3c9f65d51d3dacd4a831ab2aebf39181620db8/examples/capture/getRow.js#L3-L46

I hope this helps!!

[2021-07-15 22:19] waridrox commented on #665
So I tried to see whether the graph stops or not after moving on the capture section, and the the graph is working as expected:

https://user-images.githubusercontent.com/58583793/125864896-502de686-3dea-4464-894e-f8dceedcfbd7.mov

So this means that this is not a problem arising from the capture code...

[2021-07-15 22:23] waridrox commented on #665
I tried to do play with the height on the working version of sw.js and there also I noticed that the graph was stopping if we tamper with it's height:

https://user-images.githubusercontent.com/58583793/125865192-a1ebd988-be1c-490b-8a3c-d491be903280.mov

[2021-07-15 22:41] waridrox commented on #665
One more observation is that the working `sw.js` version is result of all layers being displayed simultaneously on html page as oppose to different changing layers on `/v2` version:

https://user-images.githubusercontent.com/58583793/125866378-28afd06a-ac63-413a-a444-4a88cf3a203e.mov

So as soon as the row adjusting layer is gone from the stepper, the graph STOPS:

https://user-images.githubuserco

[2021-07-16 15:03] jywarren commented on #665
whoaaaa so `all layers being displayed simultaneously` -- how is this different between the two? You're not just saying they're CSS `display:none` but some are actually gone, how?

What accounts for the difference?

Also omg what is this "LAYERS" display - is that a new part of Chrome dev tools??? So cool!

[2021-07-16 15:18] jywarren commented on #665
Excellent use of that tool to narrow in on this, btw. I'm very curious now why exactly the two are different in the first place!

[2021-07-16 17:34] waridrox commented on #665
Actually that's the intended nature of the bootstrap-stepper...to render the steps like a different page altogether. For example, if someone clicks on step 1 then that defined stepper section should load as a page and be displayed.

But it seems that the sw.js example at http://publiclab.github.io/spectral-workbench.js/examples/new-capture/ isn't following this approach and hence it is able to get

[2021-07-16 17:42] waridrox commented on #665
So @jywarren, in-short in order to get the interface to work on safari, the graph needs to be in close vicinity of the normal live camera feed which may be either visible or hidden behind the layers...

And here's exactly what I've tried to do...

https://user-images.githubusercontent.com/58583793/125987483-a2d1ad57-66c0-457a-9a37-c3c6381370ec.mov

I'm actually hiding the normal video feed behind

[2021-07-17 17:23] jywarren commented on #665
Hmm, can you point me to the exact lines that are different in your version vs. that one?

here too, can i browse your code solution? Thank you, i think this could work but want to get a close look at the PR, and possibly write a test around it? Thank you!!

[2021-07-17 20:43] waridrox commented on #665
Hi @jywarren, I'm unable to find any dissimilarities between the spectral-workbench's interface code and the new capture interface at /v2, that's because I started with the sw.js interface and began refactoring from there, there is nothing uncommon between the two I'm afraid 🤔...

**sw.js interface** - https://github.com/publiclab/spectral-workbench.js/blob/main/examples/new-capture/index.html

**

[2021-07-20 17:02] waridrox commented on #673
- Possible way of testing live capture / graph - using a GIF image / short vid clip for the spectrum.
- Is BrowserStack a viable option for cross browser testing / can we use puppeteer.

[2021-07-20 19:20] jywarren commented on #665
I see your code in #672 and will reply over there!

[2021-07-21 01:59] unnati914 commented on #673
Even I had thought of implementing this only 😄

[2021-07-25 00:35] reallygeek opened #682 "Upload image lagging"
When using the "upload image" on the spectral workbench (because I'm using a smart phone spectrometer and the mobile website keeps using my front camera), the webpage eternally loads and won't submit. I've tried this on different days.
<img width="768" alt="Capture" src="https://user-images.githubusercontent.com/31376705/126884155-04301f1e-4c9a-4a8f-ab6a-7e6f4165df89.PNG">

[2021-07-27 16:42] jywarren commented on #339
I think a button in the capture interface that averages the last X frames is maybe the best way to do this?

[2021-07-28 13:23] jywarren opened #686 "Pagination broken due to Bootstrap v2.3 UI library"
Pagination around the site looks like this right now:

![Screen Shot 2021-07-28 at 9 22 04 AM](https://user-images.githubusercontent.com/24359/127329619-fcedbc19-ff23-4dc0-8c37-da88647b1966.png)

Unfortunately we are using Bootstrap 2.3, so we are 2 versions behind.

https://github.com/publiclab/spectral-workbench/blob/7e1fb804500723e6dfd8dff557070acdea2e8897/Gemfile#L50-L51

I wonder if we could

[2021-07-28 13:25] jywarren commented on #686
Yes, it was upgraded past v0.2.5 here, where it must've broken: https://github.com/publiclab/spectral-workbench/blame/c0a3855f0ff0a3b64e0302f771241f467f7a462d/Gemfile#L40

[2021-07-28 13:26] jywarren commented on #686
this will need a manual check! https://github.com/publiclab/spectral-workbench/pull/687

[2021-07-28 22:42] jywarren commented on #686
Works! Done!!!

![Screen Shot 2021-07-28 at 6 42 47 PM](https://user-images.githubusercontent.com/24359/127405567-1b034ed9-67ee-4b33-a337-5143ac9d3e92.png)

[2021-07-29 20:48] jam4lin opened #690 "Public Lab Spectral Workbench not listing spectra for comparison or calibration"
![image](https://user-images.githubusercontent.com/79420097/127563482-9016fb01-8a81-451a-9f52-123e270eca53.png)
Spectral Workbench isn't pulling up spectra for copying calibration or building sets & comparisons today.
The "Copy Calibration" box shows, but the spinning circle continuously spins without any spectra showing up. It doesn't seem possible to calibrate or compare today.
Thanks for your h

[2021-08-02 16:05] #686 closed

[2021-08-22 17:07] jywarren opened #710 "not able to get the fake camera feed working w arguments: `--use-fake-device-for-media-stream` and `--use-fake-ui-for-media-stream` in the Selenium Chrome driver"
Hi @jywarren, I'm not able to get the fake camera feed work 😕 by passing in the arguments: `--use-fake-device-for-media-stream` and `--use-fake-ui-for-media-stream` in the Selenium Chrome driver. Other than that I've created tests for `/upload`, `/capture` and `/capture/v2` routes which capture the spectrum and delete it after logging in with a random username using the `faker` gem.

More on this

[2021-08-22 17:08] jywarren commented on #710
Just moving here so we can keep working on this issue!

[2021-08-22 17:12] waridrox commented on #710
Here's the `fake-media-stream` that should show up for reference -

![687474703a2f2f672e7265636f726469742e636f2f6d4336336a794c6d6a6f2e676966](https://user-images.githubusercontent.com/58583793/130363949-d4d497c0-1dd2-455c-98fb-dd5cf0aa6aa9.gif)

[2021-08-22 17:16] jywarren commented on #710
For reference linking to https://github.com/publiclab/spectral-workbench.js/pull/245

And, i think the format for using a local test video is:

https://github.com/webrtc/samples/issues/616#issuecomment-130722538

`--use-fake-device-for-media-stream --use-file-for-fake-video-capture="D:\Test\Video\y4m.y4m"`

?

[2021-08-22 17:18] jywarren commented on #710
https://docs.cypress.io/api/plugins/browser-launch-api#Use-fake-video-for-webcam-testing

Should this help?

Thanks for this - it's exciting!!!

[2021-08-22 17:21] waridrox commented on #710
Yes this would do, it's just that currently I don't have that much experience with cypress testing, so I'll circle back here to write some more tests later...

[2021-08-22 17:22] jywarren commented on #710
OK, great. If you could try creating a PR with the cypress test, and even if it doesn't work, just open and point me at where it's going wrong, I can help debug!

Great!!!

[2021-08-22 17:34] waridrox commented on #673
`/capture`, `/capture/v2` and `/upload` implemented in #702

[2021-08-22 22:56] jywarren commented on #710
So just btw, is this solved in https://github.com/publiclab/spectral-workbench.js/ (or esp. in https://github.com/publiclab/spectral-workbench.js/pull/245)? and will solving it there solve it here too, or is there a distinct issue with this argument in Rails system tests?

[2021-08-23 17:35] #443 closed

[2021-09-14 20:41] jywarren opened #720 "fixing bundler version mismatch with containers"
https://github.com/publiclab/spectral-workbench/pull/717

https://github.com/publiclab/plots2/issues/9871

[code]

[2021-09-21 15:06] icarito commented on #720
Yes, the issue is that when building the container, version 1.17.3 is installed, and so it fails to install Gems. Is it necessary to declare bundler version? I think it should work if we just remove those lines (but probably not best practice).

[2021-09-21 15:07] jywarren commented on #720
I think they're auto-generated by Bundler so that they'll keep getting re-added. And i wonder if there are some breaking changes in bundler syntax? Even if we're not encountering them they did change a major version number.

[2021-09-21 15:55] jywarren commented on #720
Resolving in https://github.com/publiclab/spectral-workbench/pull/721 - thanks!

[2021-09-21 19:43] #720 closed

[2021-09-21 21:54] jywarren commented on #710
I believe we were able to resolve #245 without actually faking the camera input - we just checked for a large enough file size in the downloaded image. Later if we add a video or still image of a spectrum, we could refine our tests to look for more, and pursue this!

[2021-09-21 21:57] jywarren commented on #645
I'm going to close this up and open a new one for any remaining!

[2021-09-21 21:57] #645 closed

[2021-09-21 22:11] jywarren opened #726 "Port remaining tools back into new Capture interface, next steps"
After https://github.com/publiclab/spectral-workbench.js/issues/219 and https://github.com/publiclab/spectral-workbench/issues/645 we have the new Capture system running in SpectralWorkbench.org, at https://spectralworkbench.org/capture/v2

This is awesome. Now let's get all the different tools we had before ported into the new interface. You can see a range of buttons on the left side of the old

[2021-09-21 22:16] jywarren opened #727 "Find Similar button/pane doesn't work anymore"
getting:

Failed to load resource: the server responded with a status of 404 (Not Found):

https://spectralworkbench.org/match/search/226540?toolPane=true

I think we need to re-establish the route.

![Screen Shot 2021-09-21 at 6 12 40 PM](https://user-images.githubusercontent.com/24359/134255046-9472d30e-42be-451a-9021-f0bcc4df1258.png)

[2021-09-21 22:53] #727 closed

[2021-09-23 19:42] jywarren opened #729 "Fixing embed routes"
Related to other recent routes issues, I see:

https://spectralworkbench.org/sets/embed/1458

https://spectralworkbench.org/spectrums/embed2/226581

these don't work -- trying an update now!

[2021-09-23 20:00] jywarren commented on #353
Done!!!

[2021-09-23 20:30] jywarren commented on #608
This may be complete now!

[2021-09-23 20:34] jywarren commented on #608
Aha - it still gets stuck on the initial frame -- it connects to camera on iOS but freezes immediately. Should debug with an iOS device!

[2021-09-23 20:36] jywarren commented on #608
https://github.com/publiclab/spectral-workbench.js/issues/266

[2021-09-23 20:40] #729 closed

[2021-10-02 19:53] saraswathy-krish commented on #491
Hi @cesswairimu , is this issue still up for grabs?I would like to work on it if it is still up for grabs. Thanks!

[2021-10-05 15:38] jywarren opened #736 "Add tests for routes to protect them"
Based on this PR: https://github.com/publiclab/plots2/pull/10242

we can protect routes; a lot of routes were broken in a recent upgrade: https://github.com/publiclab/spectral-workbench/search?q=route&type=issues

Let's make a big list of them - you can see recently fixed ones in the "blame" view of https://github.com/publiclab/spectral-workbench/blame/main/config/routes.rb - and create first-time

[2021-10-05 15:39] jywarren commented on #736
The format for a routes test is:

[code]

[2021-10-05 18:47] jywarren opened #737 "Additional routes need to be repaired"
After a recent major version update, we've lost a lot of prior routes, for example for "forking" spectra, comparing, matching, etc.

https://github.com/publiclab/spectral-workbench/issues/690 is one example.

Another is the route https://spectralworkbench.org/spectrums/fork/227120

These, once fixed and confirmed, could be protected with routing tests at https://github.com/publiclab/spectral-workb

[2021-10-05 20:00] jywarren opened #738 "Search query optimization needed for some strings"
While https://spectralworkbench.org/search/test returns results fine, the following seems to crash? the server to a 502 error:

https://spectralworkbench.org/search/calcium%20hydroxide

(don't test it, i did already)

Could maybe be tested at:

https://stable.spectralworkbench.org/search/calcium%20hydroxide

(it works there!!!)

![image](https://user-images.githubusercontent.com/24359/136094199-c2

[2021-10-06 08:43] Tlazypanda commented on #736
Ohh this is a great idea! @jywarren Will open some ftos based off this and possibly an issue in plots2 as well to get contributors to this repo :v:

[2021-10-07 06:28] Tlazypanda opened #740 "Add routes test for sets/embed/:id"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2021-10-07 06:28] Tlazypanda opened #741 "Add routes test for sets/embed2/:id"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2021-10-07 06:28] Tlazypanda opened #742 "Add routes test for sets/new/:id"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2021-10-07 06:29] Tlazypanda opened #743 "Add routes test for sets/create/:id"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2021-10-08 18:28] Aryannath commented on #742
Sent a PR please check

[2021-10-09 07:20] VaithiSniper commented on #743
Hello. Can I take this up?

[2021-10-09 08:18] swatantra-15 commented on #743
Can i contribute in this

[2021-10-10 14:32] Tlazypanda opened #748 "Add issue number solved to pull request template"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2021-10-10 14:49] Tlazypanda opened #749 "Change label to "first-timers-only" in fto issue template"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2021-10-10 15:26] mohitkhedkar commented on #748
I would like to work on this. pls assign this to me

[2021-10-10 21:17] TildaDares commented on #748
Hi @mohitkhedkar, go ahead🎉

[2021-10-10 21:18] TildaDares commented on #749
Hi @arialdyscv, yes you can!

[2021-10-11 01:22] relight31 commented on #749
Hi may i work on this?

[2021-10-12 18:26] xJonJos opened #754 "Recent authors section takes to unexpected page displaying error message."
On this page : https://spectralworkbench.org/

Image (1/2):
![swpage](https://user-images.githubusercontent.com/71092045/137007142-90482417-cfbb-44e1-8397-f1e2f5c33ee1.png)

When clicking all recent authors name, it opens a page with error message below.

Image (2/2)
![sw](https://user-images.githubusercontent.com/71092045/137006091-45c9f9c3-7073-42e2-84f3-b884439b8986.png)

it lands here: https:/

[2021-10-19 07:13] #743 closed, assigned to VaithiSniper

[2021-10-19 07:22] #740 closed, assigned to sloutrel

[2021-10-20 15:02] Tlazypanda opened #758 "Add welcome bot config file to .github"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2021-10-20 15:10] Tlazypanda opened #759 "Add routes test for spectrums/embed/:id"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2021-10-20 15:10] Tlazypanda opened #760 "Add routes test for spectrums/embed2/:id"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2021-10-20 15:10] Tlazypanda opened #761 "Add routes test for spectrums/latest/:id"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2021-10-20 16:49] vijeyanidhi commented on #761
Hi, This is my first time. I would like to work on this issue

[2021-10-20 17:05] abhi30996 commented on #758
Hi. I would like to work on this. Is this issue still available?

[2021-10-21 01:35] vikramlance commented on #760
Hi @Tlazypanda I have created a pull request here https://github.com/publiclab/spectral-workbench/pull/764
Please check and let me know.

[2021-10-21 03:42] Shiv2708 commented on #759
Can you please check my pr #763

[2021-10-21 09:53] prius2055 commented on #758
Hi, I am an Outreachy applicant and would like to work on this issue. Can it be assigned to me please?

[2021-10-21 12:33] TildaDares commented on #758
Hi @abhi30996, yes you can work on it!

[2021-10-23 13:53] wajeehamushtaq opened #770 "Update Installation steps in Readme.md"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2021-10-28 08:16] #759 closed, assigned to nobody

[2021-10-28 08:58] #758 closed, assigned to abhi30996

[2021-10-28 09:06] #761 closed, assigned to vijeyanidhi

[2021-10-28 09:07] #760 closed, assigned to nobody

[2021-11-05 20:11] Tlazypanda opened #779 "Add routes test for match/:id"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2021-11-05 20:12] Tlazypanda opened #780 "Add routes test for match/search/:id"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2021-11-05 20:12] Tlazypanda opened #781 "Add routes test for spectrums/:id/edit"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2021-11-05 20:12] Tlazypanda opened #782 "Add routes test for spectrums/:id/update"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2021-11-05 20:12] Tlazypanda opened #783 "Add routes test for spectrums/destroy/:id"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2021-11-05 20:19] ASamedWalker commented on #783
Can i work on this if its available?

[2021-11-06 14:07] mskalisz commented on #780
Can I please try this issue?

[2021-11-09 17:16] jywarren commented on #738
I noticed we can search for https://stable.spectralworkbench.org/search/calcium - so that's a workaround for now.

[2021-11-09 17:20] jywarren commented on #738
We should test this in GitPod.

[2021-11-16 06:53] lxjlll opened #790 "I can not log in"

[2021-11-17 08:05] Tlazypanda commented on #780
Closed via #787

[2021-11-17 08:05] #780 closed

[2021-11-17 08:13] Tlazypanda commented on #748
Hey @atishaye feel free to pick this up!

[2021-11-17 08:17] #742 closed

[2021-11-17 17:47] atishaye commented on #748
@Tlazypanda Kindly review my commit

[2021-11-21 22:42] Tlazypanda commented on #783
Closed via #786

[2021-11-21 22:42] #783 closed

[2021-11-21 22:47] #748 closed

[2021-11-28 12:00] najmieh commented on #782
Hi, I'd like to work on this issue. Is that possible? @Tlazypanda

[2021-11-28 16:54] najmieh commented on #782
I add a PR for this issue

[2021-11-28 16:55] najmieh commented on #779
Hi I'd like to work on this issue.

[2021-11-28 20:14] theom95 commented on #781
Doesn't look like anyone is working on this yet. Claiming this.

[2021-11-28 22:11] Tlazypanda commented on #782
Sure thank you @najmieh for working on this :tada:

[2021-12-01 18:02] EsteeBrooks commented on #781
Can I be assigned this issue?

[2021-12-02 06:30] Tlazypanda commented on #781
Sure go ahead @EsteeBrooks  :v:

[2021-12-02 06:31] Tlazypanda commented on #779
Hey @najmieh I can see you have already completd a first-timers-only issue. Do you want to give another first-timer a chance? :sweat_smile:

[2021-12-02 15:17] SteveSayantan commented on #779
Hello @Tlazypanda, may I have this issue assigned to me? I have been looking for an FTO issue for a long time 😄

[2021-12-02 15:37] mskalisz commented on #736
Hi! I've completed a FTO issue - I'm still pretty new to contributing to open source but I'm wondering if there is anything I can do to help with this issue? Is the list complete, or can I help to create some more FTO issues? Thank you!

[2021-12-03 02:42] cluuuuhhh opened #798 "Spectra not saving"
## What happened just before the problem occurred
I am unable to save any spectrum on the spectral workbench site. I took the live capture and added the details but when I hit save, it took me to a page which said "We're sorry, but something went wrong". What do I do ?
My username is marie_bonnet

## Relevant URLs

https://spectralworkbench.org/spectrums

## Browser, version, and operating system

[2021-12-03 02:45] cluuuuhhh commented on #798
![20211202_145355](https://user-images.githubusercontent.com/95456298/144536059-ece075e2-0256-4849-a1de-c34fdd2bae14.jpg)
This is the photo of the page that says "we're sorry but something went wrong".

[2021-12-03 10:49] rhonall commented on #781
If this issue is still available, I would like to help. Thanks :)

[2021-12-03 10:50] rhonall commented on #782
If this issue is still available, I would like to work on this. Thanks :)

[2021-12-03 11:00] Tlazypanda commented on #779
Hey @SteveSayantan go ahead!

[2021-12-03 11:02] Tlazypanda commented on #782
Closed via #796
@rhonall would you like to pick up https://github.com/publiclab/spectral-workbench/issues/741 instead?

[2021-12-03 11:02] #782 closed

[2021-12-03 11:14] rhonall commented on #741
Hi, just wondering if this issue is still available, if yes I would like to work on this. Thanks :)

[2021-12-03 11:15] rhonall commented on #782
@Tlazypanda Yes!!! If I can pick that up that will be awesome!

[2021-12-03 11:18] Tlazypanda commented on #741
Go ahead @rhonall :v:

[2021-12-03 11:46] rhonall commented on #741
@Tlazypanda Thanks! I will work on it now :)

[2021-12-03 12:12] rhonall commented on #741
Done #741

[2021-12-07 04:48] SteveSayantan commented on #779
Thanks a lot @Tlazypanda

[2021-12-07 05:28] SteveSayantan commented on #779
https://github.com/publiclab/spectral-workbench/pull/800#issue-796557344
This is the commit, please give it a review and let me know of any changes in the comments.

[2021-12-07 14:44] Georjane opened #801 "[Planning] Rebuilding Spectral Workbench capture and analysis interface (Outreachy)"
[ ] TASKS
Hi there 👋🏽  This issue is a draft of my internship tasks. I plan on contributing to this and much more as time unfolds!

[My Outreachy Proposal](https://publiclab.org/notes/pzgeorjane/11-02-2021/outreachy-proposal-rebuilding-spectral-workbench-capture-and-analysis-interface)

### Internship Tasks

- [ ] Locally install and run code by following installation steps on spectral-workbench [

[2021-12-07 14:50] Georjane commented on #801
Hi, @jywarren @Tlazypanda @TildaDares this is a draft of my task. I will be editing it as time goes by. I would love to hear your point of view on this first draft.
For week 1, I want to complete onboarding which entails reading necessary materials on Public Lab like the google docs Jeff shared during the meeting, setting up the codebase, and familiarizing myself with the tests.

[2021-12-07 15:01] jywarren commented on #801
Thank you and this looks like a great start! Will you be getting the
JavaScript lib running separately first before trying it within the rails
app, or the other way around? Either would work!

On Tue, Dec 7, 2021, 9:50 AM Witah Georjane ***@***.***>
wrote:

[2021-12-07 16:16] Georjane commented on #801
I would love to get the js library running separately first. Let me add that as a task for my onboarding too. Thank you 💯

[2021-12-07 16:56] TildaDares commented on #801
Great job @Georjane! Your first draft looks good🚀

[2021-12-07 19:26] jywarren commented on #801
Ah, also! I wanted to say that for testing yours, we can send you a papercraft spectrometer that's designed to work with this software! If you want to email me your mailing address. It's also available to print out and cut out yourself (using a spare blank DVD-R) from https://publiclab.org/paper

We can try mailing you one that uses a webcam too - but it is a package, instead of an envelope, so it

[2021-12-08 16:59] Georjane opened #803 "Run tests and make sure everything is working fine"

[2021-12-08 17:06] Georjane commented on #803
I have been debugging for the following tests that are failing after I set up the codebase

[code]

[2021-12-08 17:10] Georjane commented on #801
I can print it out and cut it myself. It would be fun experiencing the DIY practical part of it. Thanks Jeff. I will add it to my tasks and keep you updated on my progress with it.

[2021-12-09 00:27] jywarren commented on #801
OK, just be sure to print it onto quite thick paper if possible, and I
believe there is a reverse side that prints all black -- but you can also
do that yourself with some black paint if it's easier on the printer.

Enjoy!

On Wed, Dec 8, 2021 at 12:10 PM Witah Georjane ***@***.***>
wrote:

[2021-12-09 15:27] TildaDares commented on #803
@Georjane I think you need to install `ImageMagick`

[2021-12-10 04:26] Georjane commented on #803
Okay @TildaDares
I have made some progress debugging some of the errors. I will install ImageMagick as well and give you feedback. Thank you very much.

[2021-12-10 06:22] Georjane commented on #803
Yayyyy! 🎉🎉🎉  All tests are green now. Thanks @TildaDares
[code]

I used this query, `SET GLOBAL sql_mode=(SELECT REPLACE(@@sql_mode,'ONLY_FULL_GROUP_BY',''));` from stack overflow to fix the `mysql2` errors. Thanks again!

[2021-12-10 06:24] #803 closed

[2021-12-10 07:36] Georjane opened #804 "Set up the JavaScript library following installation steps in the Readme"

[2021-12-10 08:12] Georjane commented on #804
all tests passing for the spectral-workbench.js setup

[code]
@jywarren I tried writing this example script from the spectral-workbench.js readme and manipulating the spectrum data, which ran successfully except for the experimental direct upload feature, which gave me a response of `{"status":406,"error":"Not Acceptable"}`
[code]

[code]

[2021-12-12 06:20] Tlazypanda commented on #801
Hey @Georjane This looks amazing!! :tada: I love the way the list is ordered to allow you to work in a gradual manner as you get deeper into the codebase. All the best Jane :heart:

Adding some issues here for your reference -
- Reconnect broken routes https://github.com/publiclab/spectral-workbench/issues/737
- Protect routes with functional tests https://github.com/publiclab/spectral-workbench/i

[2021-12-13 04:28] Georjane commented on #801
Okay, @Tlazypanda, Thank you very much, It's so kind of you to share the above links that will be very resourceful to me. Thank you

[2021-12-13 14:31] SteveSayantan commented on #779
Hey @Tlazypanda would you please review my code and inform if anything is wrong with it? I am a newbie , please let me know if there is something I missed out.

[2021-12-13 17:01] jywarren commented on #804
Ah, i wonder if that route has also gotten broken? i'm glad you were able to get that far in generating a spectrum on the commandline!

I wonder if it's due to some change in how Rails reads JSON submissions. It's not a typical error like a 500 or a 404 or something. A 406 may be linked to the formatting of the submission:

https://stackoverflow.com/questions/3751030/rails-3-returning-a-http-406-n

[2021-12-13 17:03] jywarren commented on #803
This is awesome! Great work @Georjane !!!!!! 🎉 very satisfying, huh?

That `ONLY_FULL_GROUP_BY` is a common issue for our more complex Rails query. Glad you figured it out! MySQL changed a core feature after v5.7 and it causes this all over our systems. :-(

[2021-12-13 17:03] jywarren commented on #804
Oh one more! https://coolaj86.com/articles/rails-error-406.html

[2021-12-13 19:12] Georjane opened #805 "Print out and cut the papercraft spectrometer (using a spare blank DVD-R) from here following Papercraft Spectrometer Intro Kit"

[2021-12-13 19:15] Georjane commented on #805
@jywarren i was able to get the materials i will be needing for the papercraft today. I am looking forward to putting it all together

![20211213_200009](https://user-images.githubusercontent.com/60772732/145873782-d9165abf-2573-418f-9ee4-157772dbc12b.jpg)

[2021-12-13 20:04] Georjane commented on #805
Sure, I will! Thanks

[2021-12-15 07:15] #741 closed

[2021-12-15 18:38] najmieh commented on #478
@NitinBhasneria Can you assign this to me?

[2021-12-16 08:11] TildaDares commented on #478
Hi @najmieh, there's an issue in #10570 that is open if you're interested in working on it. You can leave a comment and I'll assign it to you.

[2021-12-16 08:26] Tlazypanda commented on #804
On further investigating locally I think the token and title params are not getting passed correctly since it's entering the else condition ln 305 (spectrums_controller.rb) where the total body is not considered to be a json format hence the error

[code]

I am still unsure since running this scripts/upload.js --file test.json --token <my_token> works fine on spectralworkbench.org but for localhos

[2021-12-17 13:56] Georjane commented on #804
Thanks @jywarren
I did go through the articles you share. They were very helpful. I think the problem I had was the format of my data. That has being fixed. Right now I have the same error message as @Tlazypanda
[code]

[2021-12-17 13:56] Georjane commented on #804
Thanks @jywarren
I did go through the articles you share. They were very helpful. I think the problem I had was the format of my data. That has being fixed. Right now I have the same error message as @Tlazypanda
[code]

[2021-12-17 17:51] jywarren commented on #804
OK, so let's look carefully at the exact full request, which as Rails reports in your last comment, would be:

[code]

As @Tlazypanda notes, maybe we need to look carefully at how it's being converted from JSON and accessed in Rails. Let's link in an excerpt of the exact controller method that's reading it, which from your log is `SpectrumsController#create as JSON`:

https://github.com/publiclab/

[2021-12-17 17:52] jywarren commented on #804
And just for context - i think this direct means of uploading a spectrum is important -- but is not the way the JS library typically does it while running within the Rails app. This is more like a purely command-line utility which not too many people use. That's probably why it was broken and nobody noticed?

[2021-12-20 09:29] Georjane commented on #805
Hi @jywarren @TildaDares @Tlazypanda
I finally succeeded to build the paper craft spectrometer. The trickest part for me was peeling off the thin paper on the DVD😁
But I was glad I made it till the end.
I used the spectrometer to take the following image of the light bulb in my room when testing to see if I got it right.😅😅
I hope I did! I think I now have to test the spectrometer through the captu

[2021-12-20 09:33] Georjane commented on #805
![20211220_085351](https://user-images.githubusercontent.com/60772732/146745114-e13a6c28-f485-4f06-905b-1ab74a6b8fe6.jpg)

[2021-12-20 09:58] Georjane commented on #805
![20211220_105722](https://user-images.githubusercontent.com/60772732/146748864-59ae35ee-cbe4-4801-82b5-a17f2807a1c0.jpg)

[2021-12-20 10:00] Georjane commented on #804
Thanks @jywarren
I did go through the articles you share. They were very helpful. I think the problem I had was the format of my data. That has being fixed. Right now I have the same error message as @Tlazypanda
[code]

[2021-12-20 10:02] Georjane opened #808 "Fix overlapping text on the spectral workbench"

[2021-12-20 10:38] Georjane opened #809 "Copy the correct link from the contribution page and insert it on the Recent Spectra Section for the contributor's name that currently has a broken link"
Hi @TildaDares @jywarren @Tlazypanda
For this task, I think I found the bug in the code below that was breaking this link.

![bug](https://user-images.githubusercontent.com/60772732/146755157-b93da644-407c-4430-ac77-129df42738ad.png)

[2021-12-21 04:38] Tlazypanda commented on #736
Hey @mskalisz Feel free to open more FTO issues based on this :100: . I usually look out for the routes that are recently added/modified for the tests?

[2021-12-21 04:44] Tlazypanda commented on #779
Closed via #800

[2021-12-21 04:44] #779 closed

[2021-12-21 04:57] Tlazypanda opened #811 "Add routes test for match/livesearch"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2021-12-21 04:57] Tlazypanda opened #812 "Add routes test for match/get_conditions"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2021-12-21 04:58] Tlazypanda opened #813 "Add routes test for match/search"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2021-12-21 04:58] Tlazypanda opened #814 "Add routes test for spectrums/fork/:id"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2021-12-21 04:58] Tlazypanda opened #815 "Add routes test for spectrums/choose/:id"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2021-12-21 16:07] jywarren commented on #804
Ah, maybe i misunderstood - if you have fixed the data format issue, why do you think you're still seeing the 406 error? I think a similar approach as I had mentioned - using rails log statements to see what happens at each step - could help diagnose this too. Let's see on what line it actually generates the 406 error?

[2021-12-21 18:00] jywarren commented on #805
This is really lovely - a very clear spectrum - great work!!!

[2021-12-22 03:14] ManikantaReddyN commented on #812
Hi Tlazypanda,
I am new to open source, I want to work on this issue. Could you please assign it to me?

[2021-12-22 16:52] mreddyn commented on #815
Hi Tlazypanda,
I am new to open source, I want to work on this issue. Could you please assign it to me?

[2021-12-22 17:05] Tlazypanda commented on #815
Go ahead @mreddyn  ✨

[2021-12-22 17:06] Tlazypanda commented on #812
Hey @mreddyn since I have already assigned you another First timer issue let's give another first timer a chance to claim this ✨

[2021-12-22 17:23] mreddyn commented on #815
Hi @Tlazypanda,

I don't have push permissions yet. Could you please grant me access?

[2021-12-23 07:38] veddant commented on #811
Hello,
can i work on this issue

[2021-12-28 08:00] debarati-06 commented on #812
Hey @Tlazypanda , I would like to work on this issue.

[2021-12-28 14:45] icarito opened #821 "Please implement Google Cloud Storage for SW"
We need to move SpectralWorkbench to Google Cloud File Storage in order to migrate its hosting.
Please model after https://github.com/publiclab/plots2/pull/9807

I'll make a naive attempt but this should be reviewed by a person more familiar with rails and further tested in _stable_.

[2021-12-29 14:12] Tlazypanda commented on #811
Hey @veddant please go ahead :tada:

[2021-12-30 06:06] debarati-06 commented on #812
Hello
I wish to know if I could work on this issue as I was asked to refer to this FTO.

[2021-12-30 08:13] TildaDares commented on #812
Hi @debarati-06, you can go ahead and open an FTO

[2021-12-30 14:09] debarati-06 commented on #812
Thank you !
I have made a PR for this issue.

[2021-12-30 15:52] khushalbhardwaj-0111 opened #825 "login button not clickable on hover i.e. cursor isn't pointer."
## What happened just before the problem occurred
When hovering over the login button in the drop-down and navbar the login button does not show as clickable and shows as normal text.

## Relevant URLs

https://spectralworkbench.org/

## PublicLab.org username
username: khushalbhardwaj0111

Steps to see the issue:
- Go the https://spectralworkbench.org/
- Hover over the login button (if not logged

[2021-12-31 04:18] khushalbhardwaj-0111 commented on #813
Hi, khushal here. I want to work on this issue please assign this to me.

[2022-01-01 01:40] veddant commented on #811
Hey, @Tlazypanda I have created a pull request

[2022-01-01 05:31] A-HK commented on #814
Hey @Tlazypanda @TildaDares, I would love to get started with contributing to Public Lab.

Can I work on this issue?

[2022-01-01 07:21] #811 closed

[2022-01-01 07:22] #815 closed

[2022-01-02 12:46] #812 closed

[2022-01-07 07:28] Kunal0220 commented on #825
Hi @khushalbhardwaj-0111 , I think I can resolve this issue , Can you just give me your permission to go with it?

[2022-01-07 08:16] khushalbhardwaj-0111 commented on #825
@Kunal0220 sure go ahead, I am not that familiar with frontend and ruby so won't be able to help though. You can ask for other folks contributing in the project to guide you through, I am a beginner to this project 😺.

[2022-01-07 08:19] khushalbhardwaj-0111 commented on #825
@Tlazypanda could you plz assign this issue to @Kunal0220 .

[2022-01-07 12:36] #813 closed

[2022-01-07 12:45] Tlazypanda commented on #825
Hey @khushalbhardwaj-0111 nice catch! Assigning to @Kunal0220  I think the relevant file to be modified is the _header.html.erb file in app/layouts directory. Happy Opensourcing :blue_heart:

[2022-01-07 14:12] Kunal0220 commented on #825
Thank You @Tlazypanda ,
I'll try to fix this ASAP , as I am new to Open Source , If i get stuck , I'll come back to this place for your guidance.

[2022-01-08 14:14] Kunal0220 commented on #825
Hey @Tlazypanda  I have figured out the point where the code is breaking and have found the solution to it.

https://user-images.githubusercontent.com/71934168/148646977-ffe3cd64-eaa6-41ce-b611-719ed04feb0a.mp4

But the issue is that I am not very comfortable with RubyOnRails(ROR) , can you please help in figuring out that how do I have to integrate the html changes that I found in ROR?

[2022-01-08 14:17] Kunal0220 commented on #825
BTW I have done these changes in the Console and not in the codebase!

[2022-01-10 17:50] #814 closed

[2022-01-10 17:57] Tlazypanda opened #832 "Link Text displayed incorrectly in "Copy Calibration""
## What happened just before the problem occurred
On visiting the https://spectralworkbench.org/spectrums/235358 spectrum page when you aren't logged in, the link text is displayed with the <a> tag which should render as just the Link Text.

![image](https://user-images.githubusercontent.com/33183263/148814942-c51df472-5c53-48b8-9256-324e3afc8582.png)

## Relevant URLs

https://spectralworkbench.o

[2022-01-11 05:58] Georjane opened #833 "Find broken routes on the spectral workbench app and add them to a list here"
Hi @Tlazypanda @jywarren @TildaDares 👋🏽
Please I was wondering if there are any broken routes we might have come across on the SW or have been reported by users so I could reconnect them?
So far, after going through most of the links in the SW, most of the routes seem to be working great. I noticed just one broken link on the contributor's name in the spectra section whose issue I addressed [here]

[2022-01-11 06:20] Georjane opened #834 "Protect routes with functional tests"
Hi @jywarren @Tlazypanda @TildaDares 👋🏽
For the functional tests, I noticed that we have about 13 controllers in the SW but we have functional tests for just about 9 controllers. So the following controllers are not being tested, device_controller, macros_controller, match_controller, and application_controller.

Just to be sure that I would be writing tests for these controllers?
Also, I was wond

[2022-01-11 06:39] Kunal0220 commented on #825
@Tlazypanda I am looking to this ASAP , ThankYou :)

[2022-01-11 07:13] Georjane commented on #834
I tried running the following test on the macros_controller but I did not exactly understand the response I was getting
[code]

[2022-01-11 09:23] TildaDares commented on #834
Hi Jane, what kind of responses did you get?

I don't know if this helps you understand what macros do
https://github.com/publiclab/spectral-workbench/blob/abe48d023d8c113e9b8c30718932a630b99ec3fc/app/views/macros/_pane.html.erb#L5

[2022-01-11 09:31] TildaDares commented on #834
I also found this article on https://publiclab.org/wiki/spectral-workbench-api-v1#Macros on Public Lab. It's deprecated but it should give you a better sense oof what Macros are.

[2022-01-11 09:52] Georjane commented on #834
I tried accessing the enpoint /macros locally but I was getting the following error
![image](https://user-images.githubusercontent.com/60772732/148920280-7c21e908-d22f-4a45-bdb6-f984240578f2.png)

When I try accessing it on the live version I have this page
![image](https://user-images.githubusercontent.com/60772732/148920479-a658aed5-144c-4ff6-806c-a88ff451f54a.png)

[2022-01-11 09:53] Georjane commented on #834
ohhh I understand macros now. Thank you very much @TildaDares
I think I understand the error now

[2022-01-11 11:07] Georjane commented on #834
Now able to create a macro but got the following error from the show method
![image](https://user-images.githubusercontent.com/60772732/148931832-c926ead7-1405-4e2b-9b58-62e4e8fba789.png)

[2022-01-11 11:26] TildaDares commented on #834
@Georjane I think `find_by_title` method is supposed to be passed one argument. You can try this format and see if it works
https://api.rubyonrails.org/classes/ActiveRecord/FinderMethods.html#method-i-find_by

[2022-01-11 11:33] Georjane commented on #833
List of broken routes
- All author links **(pzgeorjane)** in the images below are broken
![image](https://user-images.githubusercontent.com/60772732/148932732-233a6272-0606-4815-9098-027909d5da7a.png)
![image](https://user-images.githubusercontent.com/60772732/148932882-189fc651-88e4-42c7-9196-d5c407f10eed.png)
![image](https://user-images.githubusercontent.com/60772732/148932940-9c013a8a-8f88-47b

[2022-01-11 11:39] Georjane commented on #833
@TildaDares @jywarren @Tlazypanda
I keep seeing the letter h like ` <%=h ` in front of opening tags like in the image below. I wish to find out if this is a bug or there is a meaning to it. I have seen this in a couple of places. Thank you. 🙏🏽

_**app/views/macros/show.html.erb**_
![image](https://user-images.githubusercontent.com/60772732/148935850-eabd07df-b796-4f70-bfc3-94f83577b4fb.png)

[2022-01-11 11:45] Georjane commented on #834
thanks for the link @TildaDares
let me read more on this

[2022-01-11 11:45] TildaDares commented on #833
@Georjane `<%= h` is an alias for `html_escape`. It is used to escape HTML tags https://api.rubyonrails.org/classes/ERB/Util.html#method-c-h

[2022-01-11 11:47] Georjane commented on #833
oh, I see. it makes a lot of sense now. thank you @TildaDares

[2022-01-14 20:36] Georjane opened #848 "Port Geocode tool back into new Capture interface, next steps"
@jywarren and @Tlazypanda
I think I will be picking up this issue next from https://github.com/publiclab/spectral-workbench.js/issues/265

thank you

[2022-01-18 10:49] Georjane commented on #848
Hi @Tlazypanda @TildaDares @jywarren 👋🏽

I was able to upload my first spectrum today locally.
I was trying to test the functionality of the geocoding tool on the old capture interface to compare it with the new capture/v2 version.
But I realized from this comment [here](https://github.com/publiclab/spectral-workbench.js/issues/265#issue-1003375878) that geocoding of the spectrum doesn't work anym

[2022-01-18 10:51] Georjane commented on #848
I was also facing the error below when I added the geocode button from the old capture interface to the new capture v2. I tried debugging but to no avail. 😞
![image](https://user-images.githubusercontent.com/60772732/149923571-a5b2a678-6738-41f4-8df5-ec378fcc49f1.png)

[2022-01-18 11:22] Tlazypanda commented on #848
Hey @Georjane the Geocode part not working is what we are discussing on the call - the part where I mentioned that the params are not getting saved correctly on to the backend which is why it stopped working. Hence it's not included in the second version so we need to add it and get it working :sparkles:

This error suggests that data variables passed as an argument here is actually nil, can you l

[2022-01-18 15:00] jywarren commented on #848
I believe the geocode button requests a location from the browser API for location, then it tries to attach it to the form using hidden inputs with ID #lat and #lon:

https://github.com/publiclab/spectral-workbench/blob/8f89e0fffd0ac02068857ed6fb775aa5a4460591/app/assets/javascripts/capture.js#L340

Hope that helps! It uses a callback so the code is a little tangled, but it's not too long!

[2022-01-18 16:59] Tlazypanda opened #854 "Add routes test for sets/add"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2022-01-18 16:59] Tlazypanda opened #855 "Add routes test for sets/show2"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2022-01-18 17:00] Tlazypanda opened #856 "Add routes test for sets/calibrated"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2022-01-18 17:00] Tlazypanda opened #857 "Add routes test for sets/find_match"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2022-01-18 17:03] Tlazypanda opened #858 "Add routes test for spectrums/anonymous"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2022-01-18 17:07] Tlazypanda opened #859 "Add routes test for spectrums/plots_rss"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2022-01-18 17:09] Tlazypanda opened #860 "Add routes test for spectrums/clone_search"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2022-01-18 17:10] Tlazypanda opened #861 "Add routes test for spectrums/compare_search"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2022-01-18 17:11] Tlazypanda opened #862 "Add routes test for spectrums/set_search"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2022-01-18 17:11] Tlazypanda opened #863 "Add routes test for spectrums/show2"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2022-01-18 17:11] 5hraddha commented on #854
Hi @Tlazypanda , Thanks for detailed description. Can I work on this?

[2022-01-18 17:11] Tlazypanda opened #864 "Add routes test for spectrums/all"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2022-01-18 17:31] Simba-97 commented on #859
Hey @Tlazypanda can I work on this issue?

[2022-01-18 18:57] allprogrammers commented on #854
Hello,

Can I please work on this?

[2022-01-19 01:05] geethika1129 commented on #855
Hi , I would like to work on this . Could you please assign it to me  .

[2022-01-19 06:19] Tlazypanda commented on #854
Hey @allprogrammers please go ahead :v:

[2022-01-19 06:19] Tlazypanda commented on #859
Hey @Simba-97 please go ahead :)

[2022-01-19 08:34] nishant23122000 commented on #856
Hii @Tlazypanda Can I work on this?

[2022-01-19 09:12] allprogrammers commented on #854
I have submitted a pull request can you please see if it's all good ? or if i need to change something?

[2022-01-19 11:40] Georjane commented on #848
Hi @Tlazypanda
please i have difficulties understanding this line of code `$('#geotag').val('true'!=$('#geotag').val())`
Thank you!

[2022-01-19 12:08] Georjane opened #869 "Add a route helper, profile_path, for user profile"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2022-01-19 12:46] jywarren commented on #848
I believe it's ensuring that the value is either true or false, and if it's
not true it automatically defaults to false! A bit convoluted, though!

On Wed, Jan 19, 2022, 6:40 AM Witah Georjane ***@***.***>
wrote:

[2022-01-19 13:20] TildaDares commented on #869
@Georjane you forgot to add the change for `get '/profile', to: 'users#show'`

[2022-01-19 15:16] Simba-97 commented on #859
Sure, thank you for assigning it to me.

[2022-01-19 16:00] Georjane commented on #869
Hi @TildaDares
I added it and got this error
![image](https://user-images.githubusercontent.com/60772732/150167996-535ae13f-951d-4181-b48b-c46ee4960165.png)

[2022-01-19 16:08] TildaDares commented on #869
@Georjane Is the `/profile` route & `/profile/:id` route used for the same thing?

Also, you can't give two routes the same name. That's what the error is saying

[2022-01-19 16:18] Georjane commented on #869
Ahh yes, I see. I think the `/profile` and `/profile/:id` are supposed to do the same thing because you can only access a user's profile via their `:id`
That is what I thought initially, reason why I left out `/profile/` route

[2022-01-20 05:54] Georjane commented on #869
Okay @TildaDares
Thank you!
So does this issue count as a valid fto?

[2022-01-20 06:20] TildaDares commented on #869
@Georjane It does

[2022-01-20 16:24] Xuewei-Chen commented on #869
Hi, I am taking a course on software development methodology and need to work on some projects. Can I be assigned of this work?

[2022-01-20 16:36] Xuewei-Chen commented on #856
Hi, I am taking a course on software development methodology and need to do some contributions. Can I be assigned this work?

[2022-01-20 18:51] Zach-Clay commented on #864
Hi! I am working on a project for my software development methodologies class and I would like to claim this issue!

[2022-01-21 07:45] Georjane commented on #869
@Xuewei-Chen yes you can!

[2022-01-21 13:25] Tlazypanda commented on #864
Go ahead @Zach-Clay!

[2022-01-21 13:26] Tlazypanda commented on #856
Hey @nishant23122000 go ahead :) @Xuewei-Chen there are still many open ftos would you like to work on them instead for example: #858

[2022-01-21 13:30] Tlazypanda commented on #854
Closed via #866

[2022-01-21 16:48] anythingoes commented on #863
Hi, this would be my first issue on github. Can I contribute to this?

[2022-01-23 19:14] #855 closed

[2022-01-23 22:11] Xuewei-Chen commented on #869
Hi, I think I have done with this. Can I get a review?

[2022-01-24 08:08] RaviAnand111 commented on #738
Hey @jywarren , I tried to test it and I think whats happening is, whenever something is searched which is not in database, instead of showing `Not Found` it gives error `502 Bad Gateway`.
This is what I found, what do you think ?

[2022-01-24 18:30] HeZean commented on #861
Hi, is it fine for me to work on this?

[2022-01-24 20:04] anantraghuvanshi commented on #862
Hey @Tlazypanda, I would like to take up this issue as @TildaDares pointed me on this issue since I am just starting out. May I please work on this?

[2022-01-25 05:44] SangameshItagi commented on #832
Hi @Tlazypanda Can I pick this issue ?

[2022-01-25 15:58] anantraghuvanshi commented on #862
@Tlazypanda, kindly review the changes I made, thanks!

[2022-01-26 04:38] dev-Suren commented on #857
I am a first time contributor. I would like to claim this issue.

[2022-01-26 16:30] HeZean commented on #861
Hi @Tlazypanda, would you be so kind as to a minute to review the PR please? Thank a lot 🙏

[2022-01-26 17:09] Zach-Clay commented on #864
I have just created a PR and now need a review! Here's a link to the PR: https://github.com/publiclab/spectral-workbench/pull/878

[2022-01-27 02:40] #805 closed

[2022-01-27 02:41] bittu426 commented on #858
Hello, I'm Chaitanya and I've been asked to contribute to an open-source project for my Software Development course. I'm interested to work on this issue and it'd be great if I could be assigned to this. Thank you so much.

[2022-01-27 02:44] Georjane commented on #869
Can you please add a link to the PR you opened for this issue here so that you could get a review from @TildaDares @Tlazypanda @jywarren

[2022-01-27 02:45] Georjane commented on #809
Open an fto, https://github.com/publiclab/spectral-workbench/issues/869 for this issue after adding tests

[2022-01-27 21:01] saikmusunuri commented on #860
Hey @Tlazypanda, I'm a first-time contributor. Can you please assign me this issue?

[2022-01-28 17:13] Simba-97 commented on #859
@Tlazypanda I believe the task under this is done and the code has successfully been merged, You can close this issue as of now

[2022-01-28 20:23] Tlazypanda commented on #858
Hey @bittu426 go ahead :v:

[2022-01-28 20:23] Tlazypanda commented on #860
Hey @saikmusunuri go ahead :)

[2022-01-28 20:24] Tlazypanda commented on #863
Hey @anythingoes go ahead :)

[2022-01-29 09:55] anythingoes commented on #863
Hello, I have opened a PR for the issue. PR #881
Should I fork the repo onto my system and run any tests?
Thank you.

[2022-02-01 16:05] #861 closed

[2022-02-07 20:02] #863 closed

[2022-02-08 09:53] Georjane opened #885 "Reproduce detection of fluorescent lights from legacy capture interface into new capture interface (this then offers to calibrate, with an alert along the top!)"
@jywarren and @Tlazypanda
I think I will be picking up this issue next from https://github.com/publiclab/spectral-workbench.js/issues/265

thank you

[2022-02-08 14:13] Georjane commented on #834
@TildaDares thank you, @Tlazypanda helped me out with the following syntax that works
`@macro = Macro.find_by :title params[:id], conditions: { user_id: @user.id }, order: 'id DESC'`

[2022-02-08 15:21] #848 closed

[2022-02-08 15:46] jywarren commented on #885
So we found that `is_cfl` maybe is not even used??? Because the line of code actually run is `observe_contrast()` which checks the average amount of "steepness" or contrast in the data every half second. I bet this run faster and more reliably than actually checking if the data matched a fluorescent light pattern, which is interesting:

https://github.com/publiclab/spectral-workbench.js/blob/4e3c9

[2022-02-08 15:48] jywarren commented on #885
And here it is in the new capture code. Is it actually running?

https://github.com/publiclab/spectral-workbench/blob/98014b8db34d933a637ecafeff40712fb750ae3b/app/views/capture/index2.html.erb#L188-L195

[2022-02-08 22:47] icarito opened #887 "Implement redirect for images from Google Storage Bucket"
implement /public route that is conditional on FOG_PROVIDER and GOOGLE_STORAGE_BUCKET in order to be able to deploy to google cloud

[2022-02-09 09:50] Georjane commented on #833
@Tlazypanda
please what do we mean by looking at the blame view here,
you can see recently fixed ones in the "blame" view of https://github.com/publiclab/spectral-workbench/blame/main/config/routes.rb

[2022-02-09 16:56] #834 closed

[2022-02-15 17:45] icarito opened #891 "Rebuilding and restarting the container drops the database in staging"

[2022-02-15 20:43] #885 closed

[2022-02-21 14:25] Midas847 commented on #869
Hey, I am new to this project. Can I work on this issue?

[2022-02-21 14:54] TildaDares commented on #869
Hi @Midas847, since we haven’t gotten any updates from @Xuewei-Chen, you can take this up. Thanks!

[2022-02-22 08:44] TildaDares commented on #859
Closed in #872

[2022-02-22 08:44] #859 closed

[2022-02-22 08:53] TildaDares commented on #864
Resolved in #878

[2022-02-22 08:53] #864 closed

[2022-02-22 09:22] #862 closed

[2022-02-22 09:25] #857 closed

[2022-02-22 09:34] #781 closed

[2022-02-22 09:44] TildaDares commented on #770
Resolved in #772

[2022-02-22 09:44] #770 closed

[2022-02-22 09:49] TildaDares commented on #860
Unassigning this there have no updates from @saikmusunuri

[2022-02-22 09:50] TildaDares commented on #858
Unassigning this since there has been no response from @bittu426

[2022-02-22 09:50] TildaDares commented on #856
Unassigning this since there has been no response from @nishant23122000

[2022-02-22 14:46] saikmusunuri commented on #860
@TildaDares, I'm going to start it by the end of this week, could you please give me some time. Thanks!

[2022-02-22 14:48] TildaDares commented on #860
Hi @saikmusunuri, sure take all the time you need.

[2022-02-22 14:49] saikmusunuri commented on #860
Can you please reassign me?

[2022-02-25 06:13] mbuiro commented on #856
hey @Tlazypanda, can I pick this up?

[2022-02-25 09:17] cesswairimu opened #893 "Develop setting to increase capture image resolution above currently fixed 640px"

[2022-02-25 09:31] cesswairimu commented on #801
Hi @Georjane,  on the task you needed clarification on, I have created a discussion issue here  https://github.com/publiclab/spectral-workbench/issues/893 and I will add the info I can get and we can discuss there. Thanks

[2022-02-25 16:40] TildaDares commented on #856
Hi @mbuiro, sure you can take this up.

[2022-02-25 17:47] jywarren commented on #893
I want to say, i think that the new WebRTC library that was installed can now request different resolutions. So I think this may be a little simpler, but in addition to that there will still need to be the ability to change the pixel size of the canvas we're working on.

First, here is some existing code to change the resolution. I don't know if it works?

https://github.com/publiclab/spectral-wor

[2022-02-28 08:08] #856 closed

[2022-02-28 08:10] TildaDares commented on #869
Hi @Midas847, are you still interested in taking this up?

[2022-02-28 08:11] TildaDares commented on #869
Hi @Midas847, are you still interested in taking this up?

[2022-03-02 01:55] cmcgee0308 commented on #858
Hi there! I was wondering if I could be assigned to this issue if it hasn't been assigned already :)

[2022-03-02 07:08] TildaDares commented on #858
Hi @cmcgee0308, sure go ahead.

[2022-03-05 17:00] cmcgee0308 commented on #858
My pull request is ready to be reviewed! 🙌

[2022-03-07 12:29] #858 closed

[2022-03-07 17:40] TildaDares commented on #860
Hi @saikmusunuri, any updates on this? We can always assign you to another issue when you are ready so that another first-timer can work on this.

[2022-03-07 21:18] saikmusunuri commented on #860
Hey @TildaDares, I'm already learning to work on it. I will start the work very soon.

[2022-03-08 13:21] Sandip-Ghosh-2001 commented on #869
I have created a another pr. please check it.

[2022-03-10 10:36] #869 closed

[2022-03-10 10:36] #809 closed

[2022-03-10 10:37] #833 closed

[2022-03-14 06:51] Sandip-Ghosh-2001 commented on #869
I would love to work. It will be great if you assign me with frontend web. Thanks...

[2022-03-15 13:28] aniruddhabagal commented on #860
Hey @TildaDares  Please assign this issue to me.
I've made the changes and I'll be creating a PR in a while.

[2022-03-15 15:23] TildaDares commented on #860
Hi @saikmusunuri, it's totally fine if you're busy right now. I can put your name in the first-timers only list so that when there's an available FTO, you can be assigned to it. Does that sound good?

[2022-03-15 15:29] saikmusunuri commented on #860
Sounds good! That works for me.
Sorry for the delay.

[2022-03-15 15:32] TildaDares commented on #860
Thanks @saikmusunuri!

[2022-03-15 20:55] icarito opened #908 "Doesn't seem to respect the environment variables for the DB"
Probably need to add vars to `spectral.env`

[2022-03-16 16:17] #908 closed

[2022-04-09 14:26] markwilson6 opened #919 "link doesnt work"
clicked on link to upload image and says I have typed url wrong

[2022-05-26 18:34] Salto31567 opened #942 "Problems"
Problemas de reporte de espectros

[2022-08-02 19:23] jywarren opened #982 "Publishing to stable server"
Just taking notes on the process; previously it failed as the gems were not installed, we saw the message:

[code]

https://ci-j.publiclab.org/job/Spectralworkbench-Stable/177/console

Now, I tried to install bundler -- the `gem install bundler` in the Dockerfile had been skipped as it was cached, so i successfully upgraded to Node 16, flushing the cache for the line in question:

https://github.c

[2022-08-02 19:25] jywarren commented on #982
Tried it within start.sh here: https://github.com/publiclab/spectral-workbench/commit/2409b1ffa06b957f679fcf230560800ef3806008

[2022-08-02 19:33] jywarren commented on #982
Oof, so now its really confusing --

[code]

[2022-08-02 19:39] jywarren commented on #982
So apparently last time we just manually changed the version to match what's in the container. I'll try that again.

[2022-08-02 19:41] jywarren commented on #982
https://github.com/publiclab/spectral-workbench/commit/bc8dc17eef25a197df0b194524428f8467027d95

[2022-08-02 19:47] jywarren commented on #982
:-/ still getting:

[code]

then later can't find rails.

[2022-08-02 19:55] jywarren commented on #982
Strange - we do this without apparent trouble in MapKnitter and plots2! Both of those are also on up to date `v2.3.16` bundler:

https://github.com/publiclab/plots2/blob/3b7222e5655e41ea4e7102ddbdcb1510932b6228/Gemfile.lock#L810

[2022-08-05 08:12] icarito commented on #982
I tried adding `bundle update` in start.sh - i know it's not ideal / but it worked.
So first I'm trying a PR with the updated Gemfile.lock, maybe that's all that's needed?

[2022-08-05 20:51] #982 closed

[2022-08-12 16:50] jywarren opened #991 "Archiving website at Internet Archive"
Due to lack of funds, SpectralWorkbench.org will be going offline at the end of August. We're working to ensure this collaboratively contributed database of spectra remains accessible with the help of the Internet Archive.

Here we're submitting all URLs we can to the following service for archiving:

- https://archive.org/services/wayback-gsheets/

**Google Sheets limitations:**

- When you impor

[2022-08-16 23:17] Mr0grog commented on #991
Happy to help if this is still needed. As a side note, I noticed https://spectralworkbench.org/sets?page=115 seems to get me a 500 error, so it looks like there’s something broken that prevents the last page of results from rendering.

[2022-08-17 00:27] Mr0grog commented on #991
Here are some Wayback-compatible sheets for the 4 types that don’t need a DB dump. I broke up the spectrums into batches of 10,000, but did it with a quick script, so I can re-do them easily if another batch size seems reasonable.

https://drive.google.com/drive/folders/1q3p6k5Q5fy0KqxFy-Tav20_LZSVAIUx7?usp=sharing

[2022-08-17 16:06] jywarren commented on #991
I see - does 114 work?

Oh excellent. I just made a script to generate the spectrums one - adding the spreadsheet above. Some spectra will have been deleted and won't exist, and I can try running a query to find exactly which do exist... but this is a good backup approach if we don't finish in time. And I should try doing that one in 100k batches i think... or maybe 3x 80k batches.

I see the cont

[2022-08-17 16:11] jywarren commented on #991
Ah, can you allow anyone to be editor? Apparently the script needs that. Or, possibly if you share GSheets privileges with the Archive service it can read them if you begin the process; if you do, please share the in-progress status link which I believe should be world-readable. Maybe try the sets/# collection first?

If you're able to re-batch the spectrums into 79,999-long batches i think that's

[2022-08-17 16:12] jywarren commented on #991
I'll begin submitting my own initial 79,999 list of spectra starting at https://spectralworkbench.org/spectrums/1 up to https://spectralworkbench.org/spectrums/79999, since I have that ready to submit.

[2022-08-17 16:21] jywarren commented on #991
Lol fwiw I see this on the first 80k records: `Velocity: ~7 rows/min. ETA: ~212 hours.` That's about 9 days!

[2022-08-17 16:22] jywarren commented on #991
So, if you're able to submit the second set of 80k, we'll need all the time we can get! Although, if it takes that long, it means we can likely submit more than one batch at a time, assuming the SpectralWorkbench.org server can handle all the requests.

[2022-08-17 18:15] Mr0grog commented on #991
Yep, works fine.

Done. Didn’t think of this before, sorry!

Also done! In the same folder:
- [`spectrums_000001-079999`](https://docs.google.com/spreadsheets/d/1XxA_-3WL_Rorw37YyrO7Kitm1RJ6cPfoB4smhLqWR64/edit?usp=sharing) (You’re already doing this one, though)
- [`spectrums_080000-159998`](https://docs.google.com/spreadsheets/d/1hV0R_d9iX0TrFd1hmCFQoQ-McgVnLZDlSd8jo4m49Rc/edit?usp=sharing) (Jus

[2022-08-17 18:17] Mr0grog commented on #991
And I did all the `/contributors?page=<n>` URLs yesterday, too, just not via sheets — I had an old batch script I wrote when the Save Page Now 2  API was in beta, and pulled it out for this to see if it worked any better. It’s kinda 6 of one half a dozen of the other.

[2022-08-17 18:19] Mr0grog commented on #991
Update: tracking URL for the `spectrums_080000-159998` sheet I just submitted is https://archive.org/services/wayback-gsheets/check?job_id=5070d061-49ec-494e-b8bb-64ebeb7a4e8b&google_sheet_url=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2F1hV0R_d9iX0TrFd1hmCFQoQ-McgVnLZDlSd8jo4m49Rc%2Fedit%23gid%3D452795522

[2022-08-17 21:41] bensheldon commented on #991
Update: tracking URL for the `spectrums_159999-239997` sheet I just submitted is https://archive.org/services/wayback-gsheets/check?job_id=072cb2f7-6bfa-49c6-8501-a12063981c2b&google_sheet_url=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2F1XBPHX92QuSAJz_Nc1d5FIieYKgoKoPDhMT4QfpA3_LE%2Fedit%23gid%3D325879669

[2022-08-18 18:39] Mr0grog commented on #991
Started a second round on the rows that failed from `spectrums_080000-159998`. There are 493 that were 5xx errors or that failed because of something in SPN. I did *not* include a lot of rows that had a 502 error accessing `favicon.ico`, since it doesn’t seem critical and was surely captured at a recent time already.

Tracking URL: https://archive.org/services/wayback-gsheets/check?job_id=713ddd55

[2022-08-18 22:31] jywarren commented on #991
Thanks all! I found that in spectrums 0-80000, about 8k succeeded and 72k failed. But, I also learned that Archive Team has been independently trying, so it's possible they started theirs and we hit the server too hard by doubling up? A lot of mine have 502s which is the server responding too slow. You can see the results here, which I sorted by success/fail in tab 2: https://docs.google.com/sprea

[2022-08-18 22:35] jywarren commented on #991
Re the favicon, is it clear that the rest of the page archived fine? Thanks!!

[2022-08-18 22:40] jywarren commented on #991
I'm marking each comment with 👍 if I've added it to the list above. Let me know if I miss anything!

Also marked items in the list at top which will be gotten by outlinks of spectra, which is one good reason to focus on just getting all the spectra since all other pages are within 1 outlink hop from those.

Thanks everyone!!! ❤️

[2022-08-18 22:50] jywarren commented on #991
Ah, i'm now getting this:

`This host has been already captured 100,153.0 times today. Please try again tomorrow. Please email us at "info@archive.org" if you would like to discuss this more.`

I will email them. You may get similar errors in your batches, if this is a system-wide limit...

[2022-08-19 06:20] Mr0grog commented on #991
I got *slightly* better results (there were still ~64k that were already captured). I wasn’t worrying about these since, if they were already captured a zillion times in the same day, the job was done.

I’m not totally sure. IIRC from talking with Vangelis (who did the SPN2 rewrite), the capture would still get saved in this situation, but I may be misremembering or things may have changed.

My se

[2022-08-19 06:23] Mr0grog commented on #991
(Note the `limit=10_000` doesn’t limit the number of results, just the number of results per page (beyond this, it’ll automatically iterate through every page, so you don’t need to worry about anything other than setting it). You have to set it to something if you want to get all the results in a large set. It’s definitely a design problem that needs fixing, and comes from some funky behavior I di

[2022-08-20 00:09] jywarren commented on #991
Hi all, just checking in to say:

1. i asked folks at the Archive if they could lift the limit, it seems they maybe can...
2. i haven't heard back from Archive Team re coordination, yet! I reached out on twitter too.
3. haven't gotten clarification yet on if the favicon error means the page was/wasn't archived. i'll try asking that next.

Thanks all!

[2022-08-26 03:30] jywarren commented on #991
Hi all, updating -- MapKnitter is essentially done, just about 50 maps left to double-check. Circling back here today and tomorrow. I just resubmitted the 0-79k for a 3rd pass, since the second had hit the 100k per host limit. Updated above. Hopefully we get a better sense of the yield [on this run](https://archive.org/services/wayback-gsheets/check?job_id=eb5408b4-0cf6-4f28-b42d-9e619b62beb2&goog

[2022-09-06 15:25] jywarren commented on #991
Only 10k succeeded in that last run on 0-79k (3rd pass), leaving 53k from the first batch. But we hit the cap with ~35k of the 62.9k total requests. That still means that only about 1/3 of the remainder succeeded :-/

If I can get the 1st and 2nd batch down below 40k I'll start combining them. I can also try to narrow the required ones by checking which have been archived successfully; that won't

[2022-09-06 15:29] jywarren commented on #991
I sent the second batch latest submission for a check to see what had been already done, perhaps by the Archive Team:

https://archive.org/services/wayback-gsheets/check?job_id=d885c81f-5849-4083-bdd8-70bec5ac2528&google_sheet_url=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2F1359MIeGzwH1Chl4R33ZhPjqyBdhDRVjUXhDgPG9L7ac%2Fedit%23gid%3D452795522

https://docs.google.com/spreadsheets/d/1359MIeG

[2022-10-03 02:40] jywarren commented on #991
Just an update that I have about 80k left. Some which went past the daily host limit but showed 200 Success I am skipping, even though occasionally there's potential for those to not be a complete backup; I sampled a number of them and they were OK though.

We are under some pressure to wrap up asap so I am moving as fast as I can. Thanks!

[2022-10-04 22:41] jywarren commented on #991
Only 28k remaining, running now.

[2022-10-05 23:53] jywarren commented on #991
Only 7400 left now!

[2022-10-07 23:17] jywarren commented on #991
1284 left, re-running. Very close.

[2022-10-08 09:20] jywarren commented on #991
77 left: https://docs.google.com/spreadsheets/d/1hCpccXa3xmH4D09jufccZtY7WH6mzoEkBJts50__JKE/edit#gid=273693883

https://archive.org/services/wayback-gsheets/check?job_id=e0236c65-bad1-4f6a-bbf6-ab8c0b65943f&google_sheet_url=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2F1hCpccXa3xmH4D09jufccZtY7WH6mzoEkBJts50__JKE%2Fedit%3Fusp%3Dsharing

[2022-10-08 09:27] jywarren commented on #991
OK, I think we got all but 8; unfortunately these seem not to have worked for some reason:

[code]

[2022-10-08 09:27] jywarren commented on #991
Going to shut things down as soon as we can now!

[2022-10-08 09:31] #991 closed, assigned to nobody

[2022-10-08 09:31] jywarren commented on #991
Thanks everyone for your help!!